Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']
        exclude: smacc2_sm_reference_library/

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

Minor namespace fix in clmoveit2z
  smacc2_client_library/moveit2z_client/include/moveit2z_client/components/cp_tf_listener.hpp
Due: clang-format, ament_cppcheck

Minor namespace fix in clmoveit2z (#496)
  smacc2_client_library/moveit2z_client/include/moveit2z_client/components/cp_tf_listener.hpp
Due: clang-format, ament_cppcheck

Excluding cl_nav2z EvWaypoint256 events from doxygen
  .github/Doxyfile
Due: none

Excluding cl_nav2z EvWaypoint256 events from doxygen (#497)
  .github/Doxyfile
Due: none

Trying to filter out EvWaypoint256 from doxygen
  .github/Doxyfile
Due: none

Trying to filter out EvWaypoint256 from doxygen (#498)
  .github/Doxyfile
Due: none

3rd attempt
  .github/Doxyfile
Due: none

Brettpac branch (#499)
  .github/Doxyfile
Due: none

Doxygen cond experiment
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_event_dispatcher.hpp
Due: clang-format, ament_cppcheck

Doxygen cond experiment (#500)
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_event_dispatcher.hpp
Due: clang-format, ament_cppcheck

Refining Doxygen cond/endcond tags
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_event_dispatcher.hpp
Due: clang-format, ament_cppcheck

Refining Doxygen cond/endcond tags (#501)
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_event_dispatcher.hpp
Due: clang-format, ament_cppcheck

Refactoring Nav2z component symbol names to include Cp
  .github/Doxyfile
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_seek_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/amcl/amcl.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/costmap_switch/cp_costmap_switch.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/goal_checker_switcher/goal_checker_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/planner_switcher/planner_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_visualizer.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_named_waypoint.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_next_waypoint.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_seek_waypoint.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/amcl/amcl.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/costmap_switch/cp_costmap_switch.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/goal_checker_switcher/goal_checker_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/planner_switcher/planner_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/states/st_navigate_to_waypoint_1.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck

Fixed precommit issue with Clang format
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/goal_checker_switcher/goal_checker_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/planner_switcher/planner_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
Due: clang-format, ament_cppcheck

Refactoring Nav2z component symbol names to include Cp (#502)
  .github/Doxyfile
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_seek_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/amcl/amcl.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/costmap_switch/cp_costmap_switch.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/goal_checker_switcher/goal_checker_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/planner_switcher/planner_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_visualizer.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_named_waypoint.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_next_waypoint.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_seek_waypoint.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/amcl/amcl.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/costmap_switch/cp_costmap_switch.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/goal_checker_switcher/goal_checker_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/planner_switcher/planner_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/states/st_navigate_to_waypoint_1.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck

More component renaming
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_forward.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_retry_behavior.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_undo_path_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/odom_tracker/odom_tracker.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/odom_tracker.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/odom_tracker_node.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/rviz/nav2_default_view.rviz
Due: clang-format, ament_cppcheck

Fixing precommit errors
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/odom_tracker.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/odom_tracker_node.cpp
Due: clang-format, ament_cppcheck

More component renaming (#503)
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_forward.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_retry_behavior.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_undo_path_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/odom_tracker/odom_tracker.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/odom_tracker.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/odom_tracker_node.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/rviz/nav2_default_view.rviz
Due: clang-format, ament_cppcheck

adding cp prefix to file names
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/amcl/cp_amcl.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/goal_checker_switcher/cp_goal_checker_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/planner_switcher/cp_planner_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/nav2z_client.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate_look_at.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_stop_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/amcl/cp_amcl.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/goal_checker_switcher/cp_goal_checker_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/planner_switcher/cp_planner_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

adding cp prefix to file names (#504)
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/amcl/cp_amcl.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/goal_checker_switcher/cp_goal_checker_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/planner_switcher/cp_planner_switcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/nav2z_client.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate_look_at.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_stop_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/amcl/cp_amcl.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/goal_checker_switcher/cp_goal_checker_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/planner_switcher/cp_planner_switcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Adding cp prefix to odom_tracker files
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_forward.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_retry_behavior.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_undo_path_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/odom_tracker/cp_odom_tracker.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate_look_at.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_stop_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker_node.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Adding cp prefix to odom_tracker files (#505)
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_forward.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_retry_behavior.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_undo_path_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/odom_tracker/cp_odom_tracker.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate_look_at.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_stop_navigation.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker_node.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Adding cp prefix to waypoint navigator files
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_seek_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_event_dispatcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_visualizer.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_event_dispatcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_visualizer.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Adding cp prefix to waypoint navigator files (#506)
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_backwards.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_seek_waypoint.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_event_dispatcher.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_visualizer.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_event_dispatcher.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_visualizer.cpp
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/include/sm_dance_bot_warehouse/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/include/sm_dance_bot_warehouse_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/include/sm_dance_bot_warehouse_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/orthogonals/or_navigation.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Minor changes to Contributing documentation
  CONTRIBUTING.md
Due: none

Minor changes to Contributing documentation (#507)
  CONTRIBUTING.md
Due: none

changes
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_dev_tools/.vscode/settings.json
Due: clang-format, ament_cppcheck

format minor
  README.md
Due: none

fix navigation humble
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_dev_tools/.vscode/settings.json
Due: clang-format, ament_cppcheck

fixing navigation galactic and humble I (#509)
  README.md
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_dev_tools/.vscode/settings.json
Due: clang-format, ament_cppcheck

fix navigation humble (#510)
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_dev_tools/.vscode/settings.json
Due: clang-format, ament_cppcheck

more fixes
  smacc2_sm_reference_library/sm_dance_bot/launch/bringup_launch.py
  smacc2_sm_reference_library/sm_dance_bot/launch/gazebo_launch.py
Due: none

Feature/fix navigation humble (#511)
  smacc2_sm_reference_library/sm_dance_bot/launch/bringup_launch.py
  smacc2_sm_reference_library/sm_dance_bot/launch/gazebo_launch.py
Due: none

tests
  smacc2_sm_reference_library/sm_dancebot_ue/CMakeLists.txt
  smacc2_sm_reference_library/sm_dancebot_ue/docker/Dockerfile
  smacc2_sm_reference_library/sm_dancebot_ue/docker/build_docker.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/build_docker_humble.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/fastdds_setup.bash
  smacc2_sm_reference_library/sm_dancebot_ue/docker/join_bash.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_bash_humble.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_editor_smacc.sh
Due: ament_lint_cmake

missing
  smacc2_sm_reference_library/sm_dancebot_ue/docker/.dockerignore
Due: none

declare signal_detector_loop_freq parameter only if not already declared
  smacc2/src/smacc2/signal_detector.cpp
Due: clang-format, ament_cppcheck

Renaming of StateReactor Arguments
  smacc2_state_reactor_library/sr_all_events_go/include/sr_all_events_go/sr_all_events_go.hpp
  smacc2_state_reactor_library/sr_conditional/include/sr_conditional/sr_conditional.hpp
  smacc2_state_reactor_library/sr_event_countdown/include/sr_event_countdown/sr_event_countdown.hpp
Due: clang-format, ament_cppcheck

Throwing flake8 overboard after testing its stupid suggestions
  .pre-commit-config.yaml
  smacc2_sm_reference_library/sm_dance_bot/launch/bringup_launch.py
  smacc2_sm_reference_library/sm_dance_bot/launch/gazebo_launch.py
Due: none

progress in navigation ue
  smacc2_sm_reference_library/sm_dance_bot/launch/sm_dancebot_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/CHANGELOG.rst
  smacc2_sm_reference_library/sm_dancebot_ue/docker/Dockerfile
  smacc2_sm_reference_library/sm_dancebot_ue/docker/update_project_files.sh
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/sm_dancebot_ue.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/states/st_acquire_sensors.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/states/st_navigate_to_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/superstates/ss_radial_pattern_1.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/launch/bringup_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/launch/navigation_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/launch/slam_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/launch/sm_dancebot_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client/waypoints_plan.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client_turtlebot/nav2_params.yaml
Due: ament_cppcheck
