Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']
        exclude: smacc2_sm_reference_library/

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

fixup! Propery export libraries
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
Due: ament_lint_cmake

Issue 771
  smacc2_client_library/cl_moveit2z/CMakeLists.txt
  smacc2_client_library/cl_moveit2z/package.xml
Due: ament_lint_cmake

Add explicit dependencies for Nav2 planner plugins for jazzy
  smacc2_client_library/cl_nav2z/custom_planners/backward_global_planner/CMakeLists.txt
  smacc2_client_library/cl_nav2z/custom_planners/backward_global_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/CMakeLists.txt
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_global_planner/CMakeLists.txt
  smacc2_client_library/cl_nav2z/custom_planners/forward_global_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/CMakeLists.txt
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/pure_spinning_local_planner/CMakeLists.txt
  smacc2_client_library/cl_nav2z/custom_planners/pure_spinning_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/CMakeLists.txt
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/package.xml
Due: ament_lint_cmake

Fix cl_ros2_timer cmake shared-library link failure on bare smacc2 reference
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
Due: ament_lint_cmake

Add explicit client and planner dependencies for humble
  smacc2_client_library/cl_moveit2z/CMakeLists.txt
  smacc2_client_library/cl_moveit2z/package.xml
  smacc2_client_library/moveit2z_client/CMakeLists.txt
  smacc2_client_library/moveit2z_client/package.xml
  smacc2_client_library/nav2z_client/custom_planners/backward_global_planner/CMakeLists.txt
  smacc2_client_library/nav2z_client/custom_planners/backward_global_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/backward_local_planner/CMakeLists.txt
  smacc2_client_library/nav2z_client/custom_planners/backward_local_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/CMakeLists.txt
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/forward_local_planner/CMakeLists.txt
  smacc2_client_library/nav2z_client/custom_planners/forward_local_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/pure_spinning_local_planner/CMakeLists.txt
  smacc2_client_library/nav2z_client/custom_planners/pure_spinning_local_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/CMakeLists.txt
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/package.xml
Due: ament_lint_cmake

Reordering of package xml entries in accordance with REP-149
  smacc2/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/backward_global_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_global_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/nav2z_planners_common/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/package.xml
Due: none

Restore nav2z behavior result propagation and fix CbUndoPathBackwards exit deadlock
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_undo_path_backwards.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
Due: clang-format, ament_cppcheck

Fix BackwardLocalPlanner uninitialized state and initial carrot search
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
Due: clang-format, ament_cppcheck

Fix UndoPathGlobalPlanner plan emission index space and empty-path guard
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

Add sm_nav2_gazebo_test_2: undo path backwards test state machine
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/CMakeLists.txt
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/config/default_nav_to_pose_bt.xml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/config/nav2_params.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/config/sm_nav2_gazebo_test_2_config.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/sm_nav2_gazebo_test_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/radial_motion_states/sti_radial_end_point.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/radial_motion_states/sti_radial_loop_start.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/radial_motion_states/sti_radial_return.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/radial_motion_states/sti_radial_rotate.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_all_sensors_go.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_final_state.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_navigate_to_waypoint_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_set_initial_pose.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/superstates/ss_radial_pattern_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/launch/sm_nav2_gazebo_test_2.py
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/maps/open_arena.pgm
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/maps/open_arena.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/package.xml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/src/sm_nav2_gazebo_test_2/sm_nav2_gazebo_test_2_node.cpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/worlds/open_arena.sdf.xacro
Due: ament_cppcheck, ament_lint_cmake

Wire nav2z result signals during orthogonal allocation, not sendGoal
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.cpp
Due: clang-format, ament_cppcheck

Fix odom tracker start point recorded in the wrong frame
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
Due: clang-format, ament_cppcheck

Add initial_rotation_alpha_error_threshold to BackwardLocalPlanner
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/include/backward_local_planner/backward_local_planner.hpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
Due: clang-format, ament_cppcheck

Prune same-position rotation clusters from the undo plan goal end
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

Extend sm_nav2_gazebo_test_2 with a curved-path undo phase
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/config/default_nav_to_pose_bt.xml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/config/nav2_params.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/sm_nav2_gazebo_test_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_navigate_to_waypoint_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_navigate_with_curve.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_set_initial_pose.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_undo_curve.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/launch/sm_nav2_gazebo_test_2.py
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/maps/open_arena.pgm
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/maps/open_arena.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/worlds/open_arena.sdf.xacro
Due: ament_cppcheck

Expand sm_nav2_gazebo_test_2: chained double undo and F pattern phases
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/sm_nav2_gazebo_test_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/f_pattern_states/sti_fpattern_forward_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/f_pattern_states/sti_fpattern_forward_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/f_pattern_states/sti_fpattern_loop_start.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/f_pattern_states/sti_fpattern_return_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/f_pattern_states/sti_fpattern_rotate_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/f_pattern_states/sti_fpattern_rotate_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_navigate_chain_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_navigate_chain_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_navigate_to_f_pattern.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_undo_chain_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_undo_chain_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/superstates/ss_f_pattern_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/superstates/ss_radial_pattern_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/maps/open_arena.pgm
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/worlds/open_arena.sdf.xacro
Due: ament_cppcheck

Settle before sending the undo goal to close the planner cache race
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
Due: clang-format, ament_cppcheck

Route chain leg 2 to the west side and tighten the chain handoff
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/config/nav2_params.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_navigate_chain_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_undo_chain_2.hpp
Due: ament_cppcheck

Add StFinalSpin: full 360 degree rotation to close the mission
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/sm_nav2_gazebo_test_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/states/st_final_spin.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/include/sm_nav2_gazebo_test_2/superstates/ss_f_pattern_1.hpp
Due: ament_cppcheck

Fix CbPureSpinning leaving the robot spinning and hanging on early exit
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pure_spinning.cpp
Due: clang-format, ament_cppcheck

Visual polish for the open arena world
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/CMakeLists.txt
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/launch/sm_nav2_gazebo_test_2.py
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/models/open_arena_assets/materials/textures/brick.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/models/open_arena_assets/materials/textures/concrete.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/models/open_arena_assets/materials/textures/wall_long.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/models/open_arena_assets/materials/textures/wall_side.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/models/open_arena_assets/model.config
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/models/open_arena_assets/model.sdf
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/worlds/open_arena.sdf.xacro
Due: ament_lint_cmake

Update sm_nav2_gazebo_test2 readme
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/docs/SmNav2GazeboTest2_2026-8-15_193144.svg
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/docs/SmNav2GazeboTest2_2026-8-15_193228.pdf
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/launch/sm_nav2_gazebo_test_2.py
  smacc2_sm_reference_library/sm_nav2_gazebo_test_2/maps/open_arena.pgm
Due: clang-format, ament_cppcheck

Document undo navigation pipeline and threading/event rules in CLAUDE.md files
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
  smacc2_sm_reference_library/CLAUDE.md
Due: none

Fix stale sendGoal doc comment: result signals connect in onStateOrthogonalAllocation
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
Due: clang-format, ament_cppcheck

Add CbActionClientBehaviorBase: generic action-client behavior base template
  smacc2/include/smacc2/client_behavior_bases/cb_action_client_behavior_base.hpp
Due: clang-format, ament_cppcheck

CpActionClient: emit goal acceptance/rejection signals, guard null client
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
Due: clang-format, ament_cppcheck

Add behavior-server wrappers: CbSpin, CbBackUp, CbDriveOnHeading
  smacc2_client_library/cl_nav2z/cl_nav2z/CMakeLists.txt
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_back_up.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_drive_on_heading.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_spin.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_back_up.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_drive_on_heading.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_spin.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

CpActionClient: type its machine events on the component, not the client
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
Due: clang-format, ament_cppcheck

Add sm_nav2_gazebo_test_3: behavior server primitives mission
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/CMakeLists.txt
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/config/default_nav_to_pose_bt.xml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/config/nav2_params.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/sm_nav2_gazebo_test_3.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/primitive_loop_states/sti_back_up.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/primitive_loop_states/sti_drive_on_heading.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/primitive_loop_states/sti_primitive_loop_start.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/primitive_loop_states/sti_spin.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_all_sensors_go.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_final_state.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_set_initial_pose.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/superstates/ss_primitive_loop.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/launch/sm_nav2_gazebo_test_3.py
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/maps/open_arena.pgm
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/maps/open_arena.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/models/open_arena_assets/materials/textures/brick.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/models/open_arena_assets/materials/textures/concrete.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/models/open_arena_assets/materials/textures/wall_long.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/models/open_arena_assets/materials/textures/wall_side.png
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/models/open_arena_assets/model.config
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/models/open_arena_assets/model.sdf
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/package.xml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/src/sm_nav2_gazebo_test_3/sm_nav2_gazebo_test_3_node.cpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/worlds/open_arena.sdf.xacro
Due: ament_cppcheck, ament_lint_cmake

sm_nav2_gazebo_test_3: alternating spins and collision-abort finale
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/sm_nav2_gazebo_test_3.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/primitive_loop_states/sti_spin.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_back_up_safe.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_drive_at_pillar.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_spin_to_pillar.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/superstates/ss_primitive_loop.hpp
Due: ament_cppcheck

CbActionClientBehaviorBase: cancel in-flight goals on early state exit, feedback hook
  smacc2/include/smacc2/client_behavior_bases/cb_action_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_spin.hpp
Due: clang-format, ament_cppcheck

sm_nav2_gazebo_test_3: aim the collision-abort finale at the south wall
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/config/nav2_params.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/sm_nav2_gazebo_test_3.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_back_up_safe.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_drive_at_wall.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_spin_to_wall.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/superstates/ss_primitive_loop.hpp
Due: ament_cppcheck

Fix stale pillar reference in StDriveAtWall log message
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_drive_at_wall.hpp
Due: ament_cppcheck

cl_moveit2z: resolve components on the state machine thread (new behavior base)
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_attach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_circular_pivot_motion.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_detach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_end_effector_rotate.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_joints.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_moveit2z_client_behavior_base.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_undo_last_trajectory.hpp
Due: clang-format, ament_cppcheck

cl_px4_mr: state-machine-thread wiring and timeout failure legs (new behavior base)
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_arm_px4.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_change_altitude.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_disarm_px4.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_figure_eight.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_follow_waypoints.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_go_to_location.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_hold_position.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_land.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_orbit_location.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_px4_client_behavior_base.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_return_to_home.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_spiral_pattern.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_takeoff.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_yaw_rotate.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_arm_px4.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_change_altitude.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_disarm_px4.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_figure_eight.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_follow_waypoints.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_go_to_location.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_hold_position.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_land.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_orbit_location.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_return_to_home.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_spiral_pattern.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_takeoff.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_yaw_rotate.cpp
Due: clang-format, ament_cppcheck

sm_cl_px4_mr_test_1: timeout watchdog failure leg on the waypoint state
  smacc2_sm_reference_library/sm_cl_px4_mr_test_1/include/sm_cl_px4_mr_test_1/states/st_go_to_waypoint_1.hpp
Due: ament_cppcheck

Document the client behavior base classes and completion-source discipline
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
Due: none

Async behavior refactor to OnStateOrthogonal Allocation rollout to nav2z, px4 and moveit2z
  smacc2/include/smacc2/client_behavior_bases/cb_action_client_behavior_base.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_undo_last_trajectory.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_drive_on_heading.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_figure_eight.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_arm_px4.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_change_altitude.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_disarm_px4.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_figure_eight.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_follow_waypoints.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_go_to_location.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_hold_position.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_land.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_orbit_location.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_return_to_home.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_spiral_pattern.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_takeoff.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_yaw_rotate.cpp
Due: clang-format, ament_cppcheck

smacc2: named requiresComponent overload for multi-instance components
  smacc2/include/smacc2/client_behavior_bases/cb_action_client_behavior_base.hpp
  smacc2/include/smacc2/impl/smacc_client_behavior_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_client_behavior_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
Due: clang-format, ament_cppcheck

cl_nav2z: rebase CbNav2ZClientBehaviorBase onto the action-client template
  smacc2/include/smacc2/client_behavior_bases/cb_action_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.cpp
Due: clang-format, ament_cppcheck
