Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Attempt2
  .github/SMACC2.humble.repos
Due: none

merging fix
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_active_stop.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_load_waypoints_file.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint_free.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_position_control_free_space.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_pure_spinning.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_save_slam_map.hpp
  smacc2_client_library/nav2z_client/nav2z_client/package.xml
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_active_stop.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_load_waypoints_file.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_next_waypoint_free.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_pure_spinning.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_save_slam_map.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

fixing format error
  .clang-format
  .github/workflows/ci-ros-lint.yaml
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_active_stop.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_load_waypoints_file.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint_free.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_position_control_free_space.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_pure_spinning.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_save_slam_map.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_active_stop.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_load_waypoints_file.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_next_waypoint_free.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_pure_spinning.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_save_slam_map.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

trying to fix linter
  .github/workflows/ci-ros-lint.yaml
Due: none

cleaning old comments
  .github/workflows/ci-ros-lint.yaml
Due: none

precommit
  .github/workflows/ci-ros-lint.yaml
Due: none

i hate precommit
  .github/workflows/ci-ros-lint.yaml
Due: none

Lidar Completion Node migration to nav2z client
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/scripts/lidar_completion.py
Due: ament_lint_cmake

precommit changes
  smacc2_client_library/nav2z_client/nav2z_client/scripts/lidar_completion.py
Due: none

adding copyright
  smacc2_client_library/nav2z_client/nav2z_client/scripts/lidar_completion.py
Due: none

dual arm demo pr
  smacc2_client_library/moveit2z_client/CHANGELOG.rst
  smacc2_client_library/moveit2z_client/include/moveit2z_client/components/cp_tf_listener.hpp
  smacc2_client_library/moveit2z_client/package.xml
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_1_moveit_config/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_1_moveit_config/package.xml
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_2_moveit_config/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_2_moveit_config/package.xml
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/clients/move_group/client_behaviors/cb_move_synchronized_link_goals.hpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/clients/move_group/client_behaviors/cb_wait_joint_states.hpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/package.xml
Due: clang-format, ament_cppcheck

Versioning issues and misc changes
  smacc2_client_library/moveit2z_client/CHANGELOG.rst
  smacc2_client_library/moveit2z_client/include/moveit2z_client/components/cp_tf_listener.hpp
  smacc2_client_library/moveit2z_client/package.xml
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_1_moveit_config/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_1_moveit_config/package.xml
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_2_moveit_config/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_2_moveit_config/package.xml
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/package.xml
Due: clang-format, ament_cppcheck

fixing cb_load_waypoints spelling error
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_load_waypoints_file.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_load_waypoints_file.cpp
Due: clang-format, ament_cppcheck

remove double finishing
  smacc2/include/smacc2/smacc_state_base.hpp
Due: clang-format, ament_cppcheck

precommit
  smacc2_client_library/nitrosz_client/nitrosz_client/include/nitrosz_client/client_behaviors/cb_abort_navigation.hpp
  smacc2_client_library/nitrosz_client/nitrosz_client/include/nitrosz_client/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/nitrosz_client/nitrosz_client/include/nitrosz_client/client_behaviors/cb_stop_navigation.hpp
Due: clang-format, ament_cppcheck

sm_panda_inventory keyboard addition
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/README.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/CMakeLists.txt
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/sm_panda_moveit2z_cb_inventory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_acquire_sensors.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_attach_object.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_circular_pivot_motion.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_detach_object.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_end_effector_rotate.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_execute_last_trajectory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_cartesian_relative.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_cartesian_relative2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_end_effector.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_known_state.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_last_trajectory_initial_state.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_named_target.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pouring_motion.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_undo_last_trajectory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/package.xml
Due: ament_cppcheck, ament_lint_cmake

Adding keyboard server to arm launch files
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/sm_multi_panda_sim.hpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/states/st_acquire_sensors.hpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/states/st_both_arms_move.hpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/states/st_left_arm_moves.hpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/states/st_right_arm_moves.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/sm_panda_moveit2z_cb_inventory.launch.py
Due: ament_cppcheck

sm_panda_1 tune up
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/CMakeLists.txt
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/sm_panda_moveit2z_cb_inventory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_acquire_sensors_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_acquire_sensors_3.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_end_effector_rotate.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_3.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_last_trajectory_initial_state.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pouring_motion.hpp
Due: ament_cppcheck, ament_lint_cmake

Working Panda1
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/config/move_group_client/known_states/control_authority_posture2.yaml
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/sm_panda_moveit2z_cb_inventory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_acquire_sensors.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_acquire_sensors_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_end_effector_rotate.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_end_effector.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_1.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_3.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_known_state_1.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_known_state_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_known_state_3.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_1.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_3.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_4.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_5.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_6.hpp
Due: ament_cppcheck

Added keyboard server to sm_multi_panda
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/launch/keyboard_server.launch.py
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/launch/sm_multi_panda_sim.launch.py
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/config/move_group_client/known_states/control_authority_posture2.yaml
Due: none

sm_multi_panda round 2
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_1_moveit_config/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_1_moveit_config/launch/demo.launch.py
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_2_moveit_config/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_panda_sim/panda_arm_2_moveit_config/launch/demo.launch.py
Due: none

more conflict bs
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/sm_panda_moveit2z_cb_inventory.hpp
Due: ament_cppcheck

Modifying DEBUG to INFO for undo_path_global_planner
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

undoing if statement
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

Commenting clnav2z
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/nav2z_client.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/nav2z_client.cpp
Due: clang-format, ament_cppcheck

Minor comments
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/nav2z_client.cpp
Due: clang-format, ament_cppcheck

tweaking comments
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/nav2z_client.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/nav2z_client.cpp
Due: clang-format, ament_cppcheck

Bob's comment review
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/nav2z_client.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/nav2z_client.cpp
Due: clang-format, ament_cppcheck

oops
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/nav2z_client.cpp
Due: clang-format, ament_cppcheck

Thrilla in Manilla
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_undo_path_backwards.md
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/odom_tracker/cp_odom_tracker.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/pose/cp_pose.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/pose/cp_pose.cpp
Due: clang-format, ament_cppcheck

Fixing Format issue
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_undo_path_backwards.md
Due: none

Update gazebo rosdep keys
  smacc2_sm_reference_library/sm_dance_bot/package.xml
  smacc2_sm_reference_library/sm_dance_bot_warehouse/package.xml
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/package.xml
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/package.xml
Due: none

Update yaml-cpp dependencies
  smacc2_client_library/moveit2z_client/CMakeLists.txt
  smacc2_client_library/moveit2z_client/package.xml
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/CMakeLists.txt
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/package.xml
Due: ament_lint_cmake

Updates for tracing
  smacc2/include/smacc2/smacc_tracing/smacc_tracing.hpp
  smacc2/src/smacc2/smacc_tracing.cpp
Due: clang-format, ament_cppcheck

Update moveit interface
  smacc2_client_library/moveit2z_client/include/moveit2z_client/cl_moveit2z.hpp
  smacc2_client_library/moveit2z_client/src/moveit2z_client/cl_moveit2z.cpp
  smacc2_client_library/moveit2z_client/src/moveit2z_client/client_behaviors/cb_move_cartesian_relative.cpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/clients/move_group/client_behaviors/cb_move_synchronized_link_goals.hpp
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/include/sm_multi_panda_sim/clients/move_group/client_behaviors/cb_wait_joint_states.hpp
Due: clang-format, ament_cppcheck

Update GlobalPlanner interface
  smacc2_client_library/nav2z_client/custom_planners/backward_global_planner/include/backward_global_planner/backward_global_planner.hpp
  smacc2_client_library/nav2z_client/custom_planners/backward_global_planner/src/backward_global_planner/backward_global_planner.cpp
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/include/forward_global_planner/forward_global_planner.hpp
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/src/forward_global_planner/forward_global_planner.cpp
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/include/undo_path_global_planner/undo_path_global_planner.hpp
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

Add misssing ros_idl_generator in CMakeLists
  smacc2_sm_reference_library/sm_dance_bot/CMakeLists.txt
  smacc2_sm_reference_library/sm_dance_bot_warehouse/CMakeLists.txt
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/CMakeLists.txt
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/CMakeLists.txt
Due: ament_lint_cmake

Add jazzy CI tasks
  .github/workflows/ci-format.yml
  .github/workflows/doxygen-deploy.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-bloom-release.yml
  .github/workflows/jazzy-semi-binary-build.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
