Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

uniform shutdown signal style
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/signal_detector.cpp
Due: clang-format, ament_cppcheck

First commit with jazzy as default branch. Version 3.0.1
  smacc2/package.xml
  smacc2_client_library/cl_keyboard/package.xml
  smacc2_client_library/cl_moveit2z/package.xml
  smacc2_client_library/cl_nav2z/package.xml
  smacc2_client_library/cl_ros2_timer/package.xml
  smacc2_client_library/http_client/package.xml
  smacc2_client_library/lifecyclenode_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_http/package.xml
  smacc2_sm_reference_library/sm_atomic_lifecycle/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/package.xml
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_multithread_test_1/package.xml
  smacc2_sm_reference_library/sm_pack_ml/package.xml
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/package.xml
  smacc2_sm_reference_library/sm_simple_action_client/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

Attempted ci-format fix from copliot
  .github/workflows/ci-format.yml
Due: none

Fixing ci-format issues
  .github/workflows/ci-format.yml
  CONTRIBUTING.md
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/smacc_client_behavior_base.cpp
  smacc2/src/smacc2/smacc_tracing.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_forward.cpp
  smacc2_dev_tools/sm_reference_lib_run_commands.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/launch/sm_atomic_lifecycle.py
Due: clang-format, ament_cppcheck

Updating CHANGELOG
  README.md
  smacc2/CHANGELOG.rst
Due: none

Fixing bug related to incomplete migration in sm_panda_cl_moveit2z_cb_inventory and cl_moveit2z
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/orthogonals/or_arm.hpp
Due: clang-format, ament_cppcheck

Cleaning up compilation warnings in cl_moveit2z, sm_multithread_test, sm_simple_action_client and a few others
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_stop_2.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_motion_planner.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_executor.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_visualizer.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_odometry.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_slam.cpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/sm_multithread_test_1.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/states/st_complete.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/states/st_concurrent_operation.hpp
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/mode_selection_client/client_behaviors/cb_mode_select.hpp
Due: clang-format, ament_cppcheck

sm_simple_action_client refactor
  smacc2_sm_reference_library/sm_advanced_recovery_1/launch/sm_advanced_recovery_1.py
  smacc2_sm_reference_library/sm_multi_stage_1/launch/sm_multi_stage_1.py
  smacc2_sm_reference_library/sm_simple_action_client/CHANGELOG.rst
  smacc2_sm_reference_library/sm_simple_action_client/CMakeLists.txt
  smacc2_sm_reference_library/sm_simple_action_client/README.md
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/fibonacci_action_client/client_behaviors/cb_fibonacci.hpp
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/mode_selection_client/client_behaviors/cb_mode_select.hpp
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/sm_simple_action_client.hpp
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/states/st_state_3.hpp
  smacc2_sm_reference_library/sm_simple_action_client/launch/sm_simple_action_client.launch
  smacc2_sm_reference_library/sm_simple_action_client/launch/sm_simple_action_client.py
  smacc2_sm_reference_library/sm_simple_action_client/package.xml
  smacc2_sm_reference_library/sm_simple_action_client/scripts/auto_mode_trigger.py
Due: ament_cppcheck, ament_lint_cmake

Fixing pre-commit error
  smacc2_sm_reference_library/sm_multi_stage_1/launch/sm_multi_stage_1.py
  smacc2_sm_reference_library/sm_simple_action_client/launch/sm_simple_action_client.py
  smacc2_sm_reference_library/sm_simple_action_client/scripts/auto_mode_trigger.py
Due: none

Adding diagnostic logging to the typewalker
  smacc2/include/smacc2/introspection/smacc_state_machine_info.hpp
Due: clang-format, ament_cppcheck

Cleanup of compilation warnings related to sm_atomic_http
  smacc2_client_library/http_client/include/http_client/client_behaviors/cb_http_request.hpp
  smacc2_client_library/http_client/include/http_client/http_session.hpp
  smacc2_client_library/http_client/include/http_client/http_session_base.hpp
Due: clang-format, ament_cppcheck

Cleanup of compilation warnings related to cl_nav2
  RELEASING.md
  smacc2/include/smacc2/client_behaviors/cb_call_service.hpp
  smacc2/package.xml
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_spiral_motion.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
Due: clang-format, ament_cppcheck

Refactoring of sm_cl_keyboard_test_1
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/launch/sm_cl_keyboard_unit_test_1.py
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/package.xml
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/package.xml
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/package.xml
Due: none

Launch file improvement and standardization
  smacc2_dev_tools/sm_reference_lib_run_commands.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/launch/sm_advanced_recovery_1.launch
  smacc2_sm_reference_library/sm_atomic/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic/launch/sm_atomic.launch
  smacc2_sm_reference_library/sm_atomic_http/config/sm_atomic_http_test.yaml
  smacc2_sm_reference_library/sm_atomic_http/launch/sm_atomic_http.launch
  smacc2_sm_reference_library/sm_atomic_lifecycle/launch/sm_atomic_lifecycle.py
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_mode_states_config.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_branching/README.md
  smacc2_sm_reference_library/sm_branching/config/sm_branching_test.yaml
  smacc2_sm_reference_library/sm_branching/launch/sm_branching.launch
  smacc2_sm_reference_library/sm_branching/launch/sm_branching.py
  smacc2_sm_reference_library/sm_multi_stage_1/README.md
  smacc2_sm_reference_library/sm_multi_stage_1/launch/sm_multi_stage_1.launch
  smacc2_sm_reference_library/sm_multi_stage_1/launch/sm_multi_stage_1.py
  smacc2_sm_reference_library/sm_multithread_test_1/README.md
  smacc2_sm_reference_library/sm_multithread_test_1/launch/sm_multithread_test_1.py
  smacc2_sm_reference_library/sm_multithread_test_1/launch/sm_multithread_test_1_single.py
  smacc2_sm_reference_library/sm_pack_ml/README.md
  smacc2_sm_reference_library/sm_pack_ml/launch/sm_pack_ml.launch
  smacc2_sm_reference_library/sm_pack_ml/launch/sm_pack_ml.py
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/README.md
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/launch/sm_panda_cl_moveit2z_cb_inventory.py
  smacc2_sm_reference_library/sm_three_some/README.md
  smacc2_sm_reference_library/sm_three_some/launch/sm_three_some.launch
  smacc2_sm_reference_library/sm_three_some/launch/sm_three_some.py
Due: none

Fixing pre-commit error
  smacc2_sm_reference_library/sm_branching/launch/sm_branching.py
  smacc2_sm_reference_library/sm_pack_ml/launch/sm_pack_ml.py
  smacc2_sm_reference_library/sm_three_some/launch/sm_three_some.py
Due: none

Adding explicit DEBUG/INFO settings to reference library launch files
  smacc2_sm_reference_library/sm_atomic_http/launch/sm_atomic_http.py
  smacc2_sm_reference_library/sm_atomic_lifecycle/launch/sm_atomic_lifecycle.py
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
  smacc2_sm_reference_library/sm_branching/launch/sm_branching.py
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/launch/sm_cl_keyboard_unit_test_1.py
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/launch/sm_cl_ros2_timer_unit_test_1.py
  smacc2_sm_reference_library/sm_multi_stage_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_multi_stage_1/launch/sm_multi_stage_1.py
  smacc2_sm_reference_library/sm_pack_ml/launch/sm_pack_ml.py
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/launch/sm_panda_cl_moveit2z_cb_inventory.py
  smacc2_sm_reference_library/sm_simple_action_client/launch/sm_simple_action_client.py
  smacc2_sm_reference_library/sm_three_some/launch/sm_three_some.py
Due: ament_lint_cmake

Refactoring lifecyclenode_client to pure component based architecture, creation of core cp_service_client component
  smacc2/include/smacc2/client_core_components/cp_service_client.hpp
  smacc2/include/smacc2/smacc_default_events.hpp
  smacc2_client_library/lifecyclenode_client/CMakeLists.txt
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_activate.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_cleanup.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_configure.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_deactivate.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_deactivate_on_exit.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_destroy.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_shutdown.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/components.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/components/cp_lifecycle_event_monitor.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/components/cp_lifecycle_state_tracker.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/lifecyclenode_client.hpp
  smacc2_client_library/lifecyclenode_client/src/lifecyclenode_client/components/cp_lifecycle_event_monitor.cpp
  smacc2_client_library/lifecyclenode_client/src/lifecyclenode_client/components/cp_lifecycle_state_tracker.cpp
  smacc2_client_library/lifecyclenode_client/src/lifecyclenode_client/lifecyclenode_client.cpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_activating.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_active.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_cleaning_up.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_configuring.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_deactivating.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_error_processing.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_inactive.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_shutting_down.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_unconfigured.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Fix pre-commit format error
  smacc2/include/smacc2/client_core_components/cp_service_client.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/components/cp_lifecycle_event_monitor.hpp
  smacc2_client_library/lifecyclenode_client/src/lifecyclenode_client/components/cp_lifecycle_event_monitor.cpp
Due: clang-format, ament_cppcheck

Renaming lifecyclenode_client to cl_lifecycle_node
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
  smacc2_client_library/cl_lifecycle_node/CHANGELOG.rst
  smacc2_client_library/cl_lifecycle_node/CMakeLists.txt
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/cl_lifecycle_node.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_activate.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_cleanup.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_configure.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_deactivate.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_deactivate_on_exit.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_destroy.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_shutdown.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/components.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/components/cp_lifecycle_event_monitor.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/components/cp_lifecycle_state_tracker.hpp
  smacc2_client_library/cl_lifecycle_node/package.xml
  smacc2_client_library/cl_lifecycle_node/src/cl_lifecycle_node/cl_lifecycle_node.cpp
  smacc2_client_library/cl_lifecycle_node/src/cl_lifecycle_node/components/cp_lifecycle_event_monitor.cpp
  smacc2_client_library/cl_lifecycle_node/src/cl_lifecycle_node/components/cp_lifecycle_state_tracker.cpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/orthogonals/or_lifecyclenode.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/sm_atomic_lifecycle.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_activating.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_active.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_cleaning_up.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_configuring.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_deactivating.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_error_processing.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_finalized.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_inactive.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_shutting_down.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/include/sm_atomic_lifecycle/states/st_unconfigured.hpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/package.xml
Due: clang-format, ament_cppcheck, ament_lint_cmake

Fixing pre-commit format error
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/cl_lifecycle_node.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_activate.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_cleanup.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_configure.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_deactivate.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_deactivate_on_exit.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_destroy.hpp
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/client_behaviors/cb_shutdown.hpp
  smacc2_client_library/cl_lifecycle_node/src/cl_lifecycle_node/cl_lifecycle_node.cpp
Due: clang-format, ament_cppcheck

Cleanup of compilation warnings in cl_lifecycle_node
  smacc2_client_library/cl_lifecycle_node/include/cl_lifecycle_node/cl_lifecycle_node.hpp
Due: clang-format, ament_cppcheck

Refactor of http_client to a pure component based architecture
  smacc2_client_library/http_client/CMakeLists.txt
  smacc2_client_library/http_client/README.md
  smacc2_client_library/http_client/include/http_client/cl_http_client.hpp
  smacc2_client_library/http_client/include/http_client/client_behaviors/cb_http_get_request.hpp
  smacc2_client_library/http_client/include/http_client/client_behaviors/cb_http_request.hpp
  smacc2_client_library/http_client/include/http_client/components/cp_http_connection_manager.hpp
  smacc2_client_library/http_client/include/http_client/components/cp_http_request_executor.hpp
  smacc2_client_library/http_client/include/http_client/components/cp_http_session_manager.hpp
  smacc2_client_library/http_client/include/http_client/http_session.hpp
  smacc2_client_library/http_client/src/http_client/cl_http_client.cpp
  smacc2_client_library/http_client/src/http_client/components/cp_http_connection_manager.cpp
  smacc2_client_library/http_client/src/http_client/components/cp_http_request_executor.cpp
  smacc2_client_library/http_client/src/http_client/components/cp_http_session_manager.cpp
  smacc2_client_library/http_client/src/http_client/http_session.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Fixing pre-commit format error
  smacc2_client_library/http_client/src/http_client/components/cp_http_request_executor.cpp
Due: clang-format, ament_cppcheck

Renaming http_client, cl_http to reflect component based architecture
  smacc2_client_library/cl_http/CHANGELOG.rst
  smacc2_client_library/cl_http/CMakeLists.txt
  smacc2_client_library/cl_http/README.md
  smacc2_client_library/cl_http/include/cl_http/cl_http.hpp
  smacc2_client_library/cl_http/include/cl_http/client_behaviors/cb_http_get_request.hpp
  smacc2_client_library/cl_http/include/cl_http/client_behaviors/cb_http_post_request.hpp
  smacc2_client_library/cl_http/include/cl_http/client_behaviors/cb_http_request.hpp
  smacc2_client_library/cl_http/include/cl_http/components/cp_http_connection_manager.hpp
  smacc2_client_library/cl_http/include/cl_http/components/cp_http_request_executor.hpp
  smacc2_client_library/cl_http/include/cl_http/components/cp_http_session_manager.hpp
  smacc2_client_library/cl_http/include/cl_http/http_session.hpp
  smacc2_client_library/cl_http/include/cl_http/http_session_base.hpp
  smacc2_client_library/cl_http/include/cl_http/ssl_http_session.hpp
  smacc2_client_library/cl_http/package.xml
  smacc2_client_library/cl_http/src/cl_http/cl_http.cpp
  smacc2_client_library/cl_http/src/cl_http/components/cp_http_connection_manager.cpp
  smacc2_client_library/cl_http/src/cl_http/components/cp_http_request_executor.cpp
  smacc2_client_library/cl_http/src/cl_http/components/cp_http_session_manager.cpp
  smacc2_client_library/cl_http/src/cl_http/http_session.cpp
  smacc2_client_library/cl_http/src/cl_http/ssl_http_session.cpp
  smacc2_client_library/http_client/src/http_client/components/cp_http_connection_manager.cpp
  smacc2_sm_reference_library/sm_atomic_http/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/orthogonals/or_http.hpp
  smacc2_sm_reference_library/sm_atomic_http/package.xml
Due: clang-format, ament_cppcheck, ament_lint_cmake

Fixing pre-commit format error
  smacc2_client_library/cl_http/include/cl_http/client_behaviors/cb_http_request.hpp
Due: clang-format, ament_cppcheck

Refactoring multirole_sensor_client to pure component based architecture
  smacc2_client_library/multirole_sensor_client/README.md
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/cl_multirole_sensor.hpp
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/client_behaviors/cb_default_multirole_sensor_behavior.hpp
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/components/README.md
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/components/cp_message_timeout.hpp
  smacc2_client_library/multirole_sensor_client/src/multirole_sensor_client/cl_multirole_sensor.cpp
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/clients/cl_subscriber/cl_subscriber.hpp
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/clients/cl_subscriber/client_behaviors/cb_default_subscriber_behavior.hpp
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/clients/cl_subscriber/client_behaviors/cb_watchdog_subscriber_behavior.hpp
Due: clang-format, ament_cppcheck

Fixing pre-commit format error
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/components/cp_message_timeout.hpp
Due: clang-format, ament_cppcheck

Renaming multirole_sensor_client, cl_generic_sensor
  .github/workflows/ci-ros-lint.yaml
  smacc2_client_library/CLAUDE.md
  smacc2_client_library/cl_generic_sensor/CHANGELOG.rst
  smacc2_client_library/cl_generic_sensor/CMakeLists.txt
  smacc2_client_library/cl_generic_sensor/README.md
  smacc2_client_library/cl_generic_sensor/include/cl_generic_sensor/cl_generic_sensor.hpp
  smacc2_client_library/cl_generic_sensor/include/cl_generic_sensor/client_behaviors/cb_default_generic_sensor_behavior.hpp
  smacc2_client_library/cl_generic_sensor/include/cl_generic_sensor/components/README.md
  smacc2_client_library/cl_generic_sensor/include/cl_generic_sensor/components/cp_message_timeout.hpp
  smacc2_client_library/cl_generic_sensor/package.xml
  smacc2_client_library/cl_generic_sensor/src/cl_generic_sensor/cl_generic_sensor.cpp
  smacc2_sm_reference_library/sm_advanced_recovery_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_pack_ml/CMakeLists.txt
  smacc2_sm_reference_library/sm_pack_ml/package.xml
  smacc2_sm_reference_library/sm_three_some/CMakeLists.txt
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/clients/cl_subscriber/cl_subscriber.hpp
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/clients/cl_subscriber/client_behaviors/cb_default_subscriber_behavior.hpp
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/clients/cl_subscriber/client_behaviors/cb_watchdog_subscriber_behavior.hpp
  smacc2_sm_reference_library/sm_three_some/package.xml
Due: clang-format, ament_cppcheck, ament_lint_cmake

Fixing pre-commit format error
  smacc2_client_library/cl_generic_sensor/include/cl_generic_sensor/cl_generic_sensor.hpp
Due: clang-format, ament_cppcheck

VSCode Debug Settings for launch.json
  .claude/settings.json
  smacc2_dev_tools/.vscode/launch.json
  smacc2_dev_tools/.vscode/settings.json
Due: none

Fix for rRace condition in InitializeROS() between schedular thread and signal detector thread
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
Due: clang-format, ament_cppcheck

Removing debug entry in launch.json for SmMultiPanda
  smacc2_dev_tools/.vscode/launch.json
Due: none

Minor changes in dev_tools/vscode for auto-completion
  smacc2_dev_tools/.vscode/c_cpp_properties.json
  smacc2_dev_tools/.vscode/settings.json
Due: none

pre-commit fixes
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/launch/sm_panda_cl_moveit2z_cb_inventory_isaacsim.launch.py
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/setup_ros2_bridge.py
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/trajectory_bridge.py
Due: none

Pre-commit fix
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/launch/panda_moveit_config_demo.rviz
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/setup_ros2_bridge.py
Due: none

Added missing copyrights
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/setup_ros2_bridge.py
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/trajectory_bridge.py
Due: none

Updating Client Library Claude.md file
  smacc2_client_library/CLAUDE.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
