Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

cl_nav2z: CbAssistedTeleop, CbDockRobot, CbUndockRobot wrappers
  smacc2_client_library/cl_nav2z/cl_nav2z/CMakeLists.txt
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_assisted_teleop.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_dock_robot.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_undock_robot.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_assisted_teleop.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_dock_robot.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undock_robot.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Fix stale names and paths in CLAUDE.md guidance files
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
Due: none

CbActionClientBehaviorBase: don't let feedback starvation fail an accepted goal
  smacc2/include/smacc2/client_behavior_bases/cb_action_client_behavior_base.hpp
Due: clang-format, ament_cppcheck

Addition of cb_assisted_teleop
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_assisted_teleop.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
Due: clang-format, ament_cppcheck

cl_keyboard: decode arrow keys in the keyboard server
  smacc2_client_library/cl_keyboard/servers/keyboard_server_node.py
Due: none

cl_keyboard: arrow key events and CbKeyboardTwistTeleop
  smacc2_client_library/cl_keyboard/CMakeLists.txt
  smacc2_client_library/cl_keyboard/include/cl_keyboard/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/cl_keyboard/include/cl_keyboard/client_behaviors/cb_keyboard_twist_teleop.hpp
  smacc2_client_library/cl_keyboard/include/cl_keyboard/components/cp_keyboard_listener_1.hpp
  smacc2_client_library/cl_keyboard/package.xml
  smacc2_client_library/cl_keyboard/servers/__pycache__/keyboard_server_node.cpython-312.pyc
Due: clang-format, ament_cppcheck, ament_lint_cmake

sm_nav2_gazebo_test_3: StAssistedTeleopGuard - collision-guarded teleop finale
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/sm_nav2_gazebo_test_3.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_assisted_teleop_guard.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_back_up_safe.hpp
Due: ament_cppcheck

Assisted-teleop guard: timeout is success, escape the inflation zone first
  smacc2_client_library/cl_keyboard/include/cl_keyboard/client_behaviors/cb_keyboard_twist_teleop.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_assisted_teleop.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_assisted_teleop.cpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_assisted_teleop_guard.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_back_up_safe.hpp
Due: clang-format, ament_cppcheck

smacc2: fix use-after-free of container-state behavior signal connections
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
Due: clang-format, ament_cppcheck

CLAUDE.md: note arrow-key and twist-teleop support in cl_keyboard
  smacc2_client_library/CLAUDE.md
Due: none

CLAUDE.md: document the container-behavior signal connection rule
  CLAUDE.md
Due: none

StAssistedTeleopGuard: end on N keypress instead of the timer
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_assisted_teleop.cpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_assisted_teleop_guard.hpp
Due: clang-format, ament_cppcheck

StAssistedTeleopGuard: drop the idle push - arrow driving only
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_3/include/sm_nav2_gazebo_test_3/states/st_assisted_teleop_guard.hpp
Due: ament_cppcheck

CbAssistedTeleop: document both allowance modes in the header comment
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_assisted_teleop.hpp
Due: clang-format, ament_cppcheck

CLAUDE.md: use the full 'container state' term in the connection rule
  CLAUDE.md
Due: none

cb_sine_altitude and cb_yaw_scan
  smacc2_client_library/cl_px4_mr/CMakeLists.txt
  smacc2_client_library/cl_px4_mr/README.md
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_sine_altitude_cruise.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_yaw_scan.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/utils/angle_utils.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_sine_altitude_cruise.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_yaw_scan.cpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/CMakeLists.txt
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/README.md
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/orthogonals/or_px4.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/sm_cl_px4_mr_test_3.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_armed_on_ground.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_disarmed_on_ground.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_in_flight.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_landed.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_landing.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_takeoff.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_arm_px4.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_land.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_landed.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_return_to_base.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_sine_altitude_cruise.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_takeoff.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_wait_for_ready.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_yaw_scan.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/launch/sm_cl_px4_mr_test_3.launch.py
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/package.xml
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/src/sm_cl_px4_mr_test_3/sm_cl_px4_mr_test_3_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

precommit
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_yaw_scan.cpp
Due: clang-format, ament_cppcheck

cb_sine_altitude and cb_yaw_scan for cl_px4_mr (#783)
  smacc2_client_library/cl_px4_mr/CMakeLists.txt
  smacc2_client_library/cl_px4_mr/README.md
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_sine_altitude_cruise.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_yaw_scan.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/utils/angle_utils.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_sine_altitude_cruise.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_yaw_scan.cpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/CMakeLists.txt
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/README.md
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/orthogonals/or_px4.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/sm_cl_px4_mr_test_3.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_armed_on_ground.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_disarmed_on_ground.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_in_flight.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_landed.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_landing.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/ms_takeoff.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_arm_px4.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_land.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_landed.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_return_to_base.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_sine_altitude_cruise.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_takeoff.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_wait_for_ready.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/include/sm_cl_px4_mr_test_3/states/st_yaw_scan.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/launch/sm_cl_px4_mr_test_3.launch.py
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/package.xml
  smacc2_sm_reference_library/sm_cl_px4_mr_test_3/src/sm_cl_px4_mr_test_3/sm_cl_px4_mr_test_3_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

precommit
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_ascend_to_altitude.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_grid_pattern.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_load_kml_mission.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_square_spiral.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/utils/geo_utils.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/utils/pattern_generators.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_ascend_to_altitude.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_grid_pattern.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_lawnmower.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_px4_path_follower_base.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_sine_wave_vertical.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_square_spiral.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/components/cp_kml_mission_loader.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/utils/pattern_generators.cpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_4/launch/sm_cl_px4_mr_test_4.launch.py
Due: clang-format, ament_cppcheck

cp_odom_tracker futile conditional removal reconfigCB
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/components/odom_tracker/cp_odom_tracker.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
Due: clang-format, ament_cppcheck

cp_odom_tracker futile conditional removal -reconfigCB (#786)
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/components/odom_tracker/cp_odom_tracker.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
Due: clang-format, ament_cppcheck

minor undo_path_global_planner refactor
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

minor undo_path_global_planner refactor (#787)
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

backward_local_planner for loop refactor
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
Due: clang-format, ament_cppcheck

backward_local_planner for loop refactor (#788)
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
Due: clang-format, ament_cppcheck

Object passed by value warning fixes in cl_nav2z
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_undo_path_backwards.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
Due: clang-format, ament_cppcheck

Object passed by value warning fixes in cl_nav2z (#789)
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_undo_path_backwards.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
Due: clang-format, ament_cppcheck

Minor refactor of smacc_state_machine_info
  smacc2/src/smacc2/smacc_state_machine_info.cpp
Due: clang-format, ament_cppcheck

Minor refactor of smacc_state_machine_info (#790)
  smacc2/src/smacc2/smacc_state_machine_info.cpp
Due: clang-format, ament_cppcheck

Readme update
  README.md
Due: none

Readme update (#792)
  README.md
Due: none

Precommit
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/components/cp_forward_obstacle_guard.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/components/cp_tf_broadcaster.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/utils/level_frame.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_spiral_up.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_wait_for_heading_stable.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/components/cp_forward_obstacle_guard.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/components/cp_tf_broadcaster.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/components/cp_tunnel_centering.cpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_5/launch/sm_cl_px4_mr_test_5.launch.py
  smacc2_sm_reference_library/sm_cl_px4_mr_test_5/scripts/cave_route_from_sdf.py
  smacc2_sm_reference_library/sm_cl_px4_mr_test_5/scripts/cloud_map_recorder.py
  smacc2_sm_reference_library/sm_cl_px4_mr_test_5/scripts/patch_cave_world.py
Due: clang-format, ament_cppcheck

CI Build Fix
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_px4_path_follower_base.hpp
Due: clang-format, ament_cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
