Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']
        exclude: smacc2_sm_reference_library/

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

Refactoring cl_ros2_timer to a component based architecture
  smacc2/include/smacc2/client_core_components/cp_ros2_timer.hpp
  smacc2/src/smacc2/client_core_components/cp_ros2_timer.cpp
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/components/cp_timer_listener1.hpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer.cpp
  smacc2_client_library/cl_ros2_timer/src/components/cp_timer_listener1.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

precommit fixes
  smacc2/include/smacc2/client_core_components/cp_ros2_timer.hpp
  smacc2/src/smacc2/client_core_components/cp_ros2_timer.cpp
  smacc2_client_library/cl_ros2_timer/include/components/cp_timer_listener1.hpp
  smacc2_client_library/cl_ros2_timer/src/components/cp_timer_listener1.cpp
Due: clang-format, ament_cppcheck

Refactored cl_ros2_timer components to Header only
  smacc2/include/smacc2/client_core_components/cp_ros2_timer.hpp
  smacc2/src/smacc2/client_core_components/cp_ros2_timer.cpp
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
  smacc2_client_library/cl_ros2_timer/include/components/cp_timer_listener1.hpp
  smacc2_client_library/cl_ros2_timer/src/components/cp_timer_listener1.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

minor changes
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/components/cp_timer_listener_1.hpp
Due: clang-format, ament_cppcheck

Minor changes to sm_cl_ros2_timer_unit_test_1
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/states/st_state_2.hpp
Due: ament_cppcheck

fine tuning ROS_INFO msgs
  smacc2_client_library/cl_ros2_timer/include/components/cp_timer_listener_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/states/st_state_2.hpp
Due: clang-format, ament_cppcheck

more tweaking
  smacc2/include/smacc2/impl/smacc_client_impl.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_client_behavior_base.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
Due: clang-format, ament_cppcheck

New cl_keyword client and removal of sm_pubsub_1
  smacc2_client_library/cl_keyboard/CHANGELOG.rst
  smacc2_client_library/cl_keyboard/CMakeLists.txt
  smacc2_client_library/cl_keyboard/include/cl_keyboard/cl_keyboard.hpp
  smacc2_client_library/cl_keyboard/include/cl_keyboard/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/cl_keyboard/include/cl_keyboard/components/cp_keyboard_listener_1.hpp
  smacc2_client_library/cl_keyboard/package.xml
  smacc2_client_library/cl_keyboard/servers/keyboard_server_node.py
  smacc2_client_library/cl_keyboard/src/cl_keyboard/cl_keyboard.cpp
  smacc2_sm_reference_library/sm_pubsub_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_pubsub_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_pubsub_1/README.md
  smacc2_sm_reference_library/sm_pubsub_1/config/sm_pubsub_1_config.yaml
  smacc2_sm_reference_library/sm_pubsub_1/docs/SmPubsub1_2021-11-26_231452.svg
  smacc2_sm_reference_library/sm_pubsub_1/docs/SmPubsub1_2021-11-26_232259.pdf
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/clients/cl_subscriber/cl_subscriber.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/clients/cl_subscriber/client_behaviors/cb_my_subscriber_behavior.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/mode_states/ms_recover.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/mode_states/ms_run.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/orthogonals/or_subscriber.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/sm_pubsub_1.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/states/inner_states/sti_state_1.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/states/inner_states/sti_state_2.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/states/inner_states/sti_state_3.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/states/st_state_3.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/states/st_state_4.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/superstates/ss_superstate_1.hpp
  smacc2_sm_reference_library/sm_pubsub_1/include/sm_pubsub_1/superstates/ss_superstate_2.hpp
  smacc2_sm_reference_library/sm_pubsub_1/launch/sm_pubsub_1.launch
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/servers/temperature_sensor_node/src/temperature_sensor_node.cpp
  smacc2_sm_reference_library/sm_pubsub_1/src/sm_pubsub_1_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Getting sm_cl_keyboard_unit_test_1 working
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/README.md
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/config/sm_cl_keyboard_unit_test_1_config.yaml
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/config/sm_cl_keyboard_unit_test_1_test.yaml
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/docs/SmAtomic_2021-10-18_93942.svg
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/sm_cl_keyboard_unit_test_1.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/launch/sm_cl_keyboard_unit_test_1.launch
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/launch/sm_cl_keyboard_unit_test_1.py
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/package.xml
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/src/sm_cl_keyboard_unit_test_1/sm_cl_keyboard_unit_test_1_node.cpp
Due: ament_cppcheck, ament_lint_cmake

Got it
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/states/st_state_2.hpp
Due: ament_cppcheck

Trying to fix compilation issues in CI
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CMakeLists.txt
Due: ament_lint_cmake

Claude's attempt
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CMakeLists.txt
Due: ament_lint_cmake

Changes to package.xml
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/package.xml
Due: none

Trying older cmake config
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CMakeLists.txt
Due: ament_lint_cmake

Minor refactoring
  smacc2/include/smacc2/client_core_components/cp_topic_subscriber.hpp
  smacc2_dev_tools/claude/Prompts.md
Due: clang-format, ament_cppcheck

precommit to fix clang-format issue
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_forward.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_position_control_free_space.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_seek_waypoint.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_visualizer.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pure_spinning.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_rotate_look_at.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_save_slam_map.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_spiral_motion.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_stop_navigation.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker_node.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/planner_switcher/cp_planner_switcher.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
Due: clang-format, ament_cppcheck

Refactor of cl_ros2_timer namespace structure (include paths)
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/cl_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/components/cp_timer_listener_1.hpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer.cpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/sm_cl_keyboard_unit_test_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/sm_cl_ros2_timer_unit_test_1.hpp
Due: clang-format, ament_cppcheck

Refactor of cl_nav2z to a component based architecture
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp.bak
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/cp_nav2_action_interface.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/cl_nav2z.cpp
Due: clang-format, ament_cppcheck

Precommit format fixes
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/cp_nav2_action_interface.hpp
Due: clang-format, ament_cppcheck

Fixed ci compilation issue
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
Due: clang-format, ament_cppcheck

Refactoring cl_nav2z to remove legacy api support and update all client behaviors
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_abort_navigation.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_global_position.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_seek_waypoint.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_rotate.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_seek_waypoint.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_wait_pose.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
Due: clang-format, ament_cppcheck

Refactor of cl_nav2z, moved cp_nav2_action_interface.hpp into a folder.
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_abort_navigation.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/nav2_action_interface/cp_nav2_action_interface.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
Due: clang-format, ament_cppcheck

Refactor cl_nav2z components and client behaviors into header-only implementations.
  smacc2_client_library/cl_nav2z/CMakeLists.txt
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_abort_navigation.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_active_stop.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_pause_slam.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_resume_slam.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/common.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/amcl/cp_amcl.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/goal_checker_switcher/cp_goal_checker_switcher.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/pose/cp_pose.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/slam_toolbox/cp_slam_toolbox.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_event_dispatcher.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/cl_nav2z.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_active_stop.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pause_slam.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_resume_slam.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/common.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/amcl/cp_amcl.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/goal_checker_switcher/cp_goal_checker_switcher.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/pose/cp_pose.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/slam_toolbox/cp_slam_toolbox.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_event_dispatcher.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

progress on the refactorign
  smacc2/include/smacc2/common.hpp
  smacc2/include/smacc2/impl/smacc_client_behavior_impl.hpp
  smacc2/include/smacc2/smacc_client_behavior_base.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2_client_library/CLAUDE.md
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_retry_behavior.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/nav2_action_interface/cp_nav2_action_interface.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_rotate.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
Due: clang-format, ament_cppcheck

restoring modified file in original nav2z_client package
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
Due: clang-format, ament_cppcheck

more refactoring on smacc2 core and navigation library
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/impl/smacc_component_impl.hpp
  smacc2/include/smacc2/smacc_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp.bak
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_abort_navigation.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/nav2_action_interface/cp_nav2_action_interface.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/odom_tracker/cp_odom_tracker.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/pose/cp_pose.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_load_waypoints_file.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_free.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pause_slam.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pure_spinning.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_resume_slam.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_rotate.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_rotate_look_at.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_seek_waypoint.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_stop_navigation.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_odometry.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_slam.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_wait_pose.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/pose/cp_pose.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_visualizer.cpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/config/sm_cl_keyboard_unit_test_1_test.yaml
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/launch/sm_cl_keyboard_unit_test_1.launch
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/launch/sm_cl_keyboard_unit_test_1.py
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/config/sm_cl_ros2_timer_unit_test_1_test.yaml
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/launch/sm_cl_ros2_timer_unit_test_1.launch
Due: clang-format, ament_cppcheck

fixing format
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/impl/smacc_component_impl.hpp
  smacc2/include/smacc2/smacc_client_behavior_base.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/nav2_action_interface/cp_nav2_action_interface.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_load_waypoints_file.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pause_slam.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_resume_slam.cpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/launch/sm_cl_keyboard_unit_test_1.py
Due: clang-format, ament_cppcheck

missing
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_load_waypoints_file.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_free.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pure_spinning.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_odometry.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_slam.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_wait_pose.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
Due: clang-format, ament_cppcheck

missing format
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_load_waypoints_file.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_free.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_odometry.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/client_behaviors/cb_wait_pose.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
Due: clang-format, ament_cppcheck

Update include path for cl_ros2_timer
  smacc2_dev_tools/.vscode/c_cpp_properties.json
Due: none

Remove unused gdb configurations from launch.json
  smacc2_dev_tools/.vscode/launch.json
Due: none

Update ROS distribution from Galactic to Humble
  smacc2_dev_tools/.vscode/settings.json
Due: none

Debugging Session 1
  smacc2/include/smacc2/client_behaviors/cb_wait_action_server.hpp
  smacc2/include/smacc2/client_behaviors/cb_wait_action_server_2.hpp
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
  smacc2/include/smacc2/smacc_default_events.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/nav2_action_interface/cp_nav2_action_interface.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_event_dispatcher.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_event_dispatcher.cpp
  smacc2_client_library/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_dev_tools/.vscode/gdb-run.sh
  smacc2_dev_tools/.vscode/launch.json
  smacc2_dev_tools/.vscode/tasks.json
Due: clang-format, ament_cppcheck

progress on new nav2z library and claude instructions
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator_base.hpp
  smacc2_sm_reference_library/CLAUDE.md
Due: clang-format, ament_cppcheck

preformatting
  smacc2/include/smacc2/client_behaviors/cb_wait_action_server_2.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_client_behavior.hpp
  smacc2_dev_tools/.vscode/launch.json
  smacc2_sm_reference_library/CLAUDE.md
Due: clang-format, ament_cppcheck

event log implementation
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_sm_reference_library/CLAUDE.md
Due: clang-format, ament_cppcheck

precommit and fix
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
Due: clang-format, ament_cppcheck

Fixing sm readmes
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/README.md
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/README.md
Due: none

sm_panda_cb_inventory refactor
  smacc2_sm_reference_library/CLAUDE.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/config/move_group_client/known_states/control_authority_posture.yaml
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/config/move_group_client/known_states/initial_posture.yaml
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/config/sm_panda_moveit2z_cb_inventory_config.yaml
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_end_effector.hpp
Due: ament_cppcheck
