Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Added logging to sim config script
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/setup_ros2_bridge.py
Due: none

Pre-commit
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/setup_ros2_bridge.py
Due: none

Migrating the nova carter clients to the client library
  smacc2_client_library/cl_foundation_pose/CMakeLists.txt
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/cl_foundation_pose.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/client_behaviors/cb_pause_object_tracking.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/client_behaviors/cb_track_object_pose.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/components/cp_object_tracker_1.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/components/cp_object_tracker_tf.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/components/tracker_utils.hpp
  smacc2_client_library/cl_foundation_pose/package.xml
  smacc2_client_library/cl_isaac_apriltag/CMakeLists.txt
  smacc2_client_library/cl_isaac_apriltag/COLCON_IGNORE
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/cl_isaac_apriltag.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/client_behaviors/cb_detect_apriltag.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_april_visualization.hpp
  smacc2_client_library/cl_isaac_apriltag/package.xml
  smacc2_client_library/cl_mission_tracker/CMakeLists.txt
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/cl_mission_tracker.hpp
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/client_behaviors/cb_battery_decission.hpp
  smacc2_client_library/cl_mission_tracker/package.xml
Due: clang-format, ament_cppcheck, ament_lint_cmake

Pre-commit fixes
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/cl_foundation_pose.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/client_behaviors/cb_pause_object_tracking.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/client_behaviors/cb_track_object_pose.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/components/cp_object_tracker_1.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/components/cp_object_tracker_tf.hpp
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/components/tracker_utils.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/cl_isaac_apriltag.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/client_behaviors/cb_detect_apriltag.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_april_visualization.hpp
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/cl_mission_tracker.hpp
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/client_behaviors/cb_battery_decission.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/scripts/setup_ros2_bridge.py
Due: clang-format, ament_cppcheck

cl_foundation_pose cb_pause_object_tracking bug fix
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/client_behaviors/cb_pause_object_tracking.hpp
Due: clang-format, ament_cppcheck

Refactoring cl_isaac_apriltag to a pure component based architecture
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/cl_isaac_apriltag.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/client_behaviors/cb_detect_apriltag.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_april_visualization.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_apriltag_mission_state.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_apriltag_tracker.hpp
Due: clang-format, ament_cppcheck

Pre-commit fixes
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_apriltag_mission_state.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_apriltag_tracker.hpp
Due: clang-format, ament_cppcheck

Refactor cl_mission_tracker to pure component base architecture
  smacc2_client_library/cl_foundation_pose/include/cl_foundation_pose/cl_foundation_pose.hpp
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/cl_mission_tracker.hpp
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/client_behaviors/cb_battery_decission.hpp
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/components/cp_decision_manager.hpp
Due: clang-format, ament_cppcheck

Pre-commit fixes
  smacc2_client_library/cl_mission_tracker/include/cl_mission_tracker/components/cp_decision_manager.hpp
Due: clang-format, ament_cppcheck

Update to smacc2_client_library/CLAUDE.md reflecting migration to pure component based architecture
  smacc2_client_library/CLAUDE.md
Due: none

Few formatting moves
  smacc2_client_library/CLAUDE.md
Due: none

Refactoring boost signals usage to pure smacc signals - SmaccSignalConnection
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/client_bases/smacc_service_server_client.hpp
  smacc2/include/smacc2/client_bases/smacc_subscriber_client.hpp
  smacc2/include/smacc2/client_behaviors/cb_sequence.hpp
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
  smacc2/include/smacc2/client_core_components/cp_ros2_timer.hpp
  smacc2/include/smacc2/client_core_components/cp_service_client.hpp
  smacc2/include/smacc2/client_core_components/cp_topic_subscriber.hpp
  smacc2/include/smacc2/common.hpp
  smacc2/include/smacc2/impl/smacc_asynchronous_client_behavior_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_asynchronous_client_behavior.hpp
  smacc2/include/smacc2/smacc_signal.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2_client_library/cl_generic_sensor/include/cl_generic_sensor/components/cp_message_timeout.hpp
  smacc2_client_library/cl_isaac_apriltag/include/cl_isaac_apriltag/components/cp_apriltag_tracker.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/nav2_action_interface/cp_nav2_action_interface.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/cl_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/components/cp_timer_listener_1.hpp
Due: clang-format, ament_cppcheck

Cleaned up a few dangling boost signal references
  CLAUDE.md
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/smacc_signal.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_ros2_timer.hpp
Due: clang-format, ament_cppcheck

Creation of sm_nav2_unit_test_1 gazebo example in sm_reference_library
  smacc2_sm_reference_library/sm_nav2_unit_test_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_nav2_unit_test_1/README.md
  smacc2_sm_reference_library/sm_nav2_unit_test_1/config/sm_nav2_unit_test_1_config.yaml
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/sm_nav2_unit_test_1.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/states/st_all_sensors_go.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/states/st_final_state.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/states/st_navigate_to_waypoint_1.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/states/st_navigate_to_waypoint_2.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/states/st_rotate.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/states/st_set_initial_pose.hpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/launch/sm_nav2_unit_test_1.launch.py
  smacc2_sm_reference_library/sm_nav2_unit_test_1/package.xml
  smacc2_sm_reference_library/sm_nav2_unit_test_1/src/sm_nav2_unit_test_1/sm_nav2_unit_test_1_node.cpp
Due: ament_cppcheck, ament_lint_cmake

Pre-commit format fixes
  smacc2_sm_reference_library/sm_nav2_unit_test_1/launch/sm_nav2_unit_test_1.launch.py
Due: none

Enabling Event Payloads for Action Results - sm_nav2_unit_test_1 compilation warnings
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
  smacc2/include/smacc2/smacc_default_events.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/include/cl_nav2z/components/nav2_action_interface/cp_nav2_action_interface.hpp
Due: clang-format, ament_cppcheck

Fixing Goal Rejection in sm_nav2_unit_test_1
  smacc2_sm_reference_library/sm_nav2_unit_test_1/include/sm_nav2_unit_test_1/states/st_set_initial_pose.hpp
Due: ament_cppcheck

Added sm image to sm_nav2_unit_test_1
  smacc2_sm_reference_library/sm_nav2_unit_test_1/README.md
  smacc2_sm_reference_library/sm_nav2_unit_test_1/docs/SmNav2UnitTest1_2025-12-21_205429.svg
  smacc2_sm_reference_library/sm_nav2_unit_test_1/docs/SmNav2UnitTest1_2025-12-21_205531.pdf
Due: none

Update sm image for sm_cl_keyboard_unit_test_1
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/README.md
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/docs/SmClKeyboardUnitTest1_2025-12-21_213456.svg
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/docs/SmClKeyboardUnitTest1_2025-12-21_213514.pdf
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/docs/SmClKeyboardUnitTest1_2025-9-18_93223.svg
  smacc2_sm_reference_library/sm_multithread_test_1/docs/SmMultithreadTest1_2025-12-21_213820.svg
  smacc2_sm_reference_library/sm_multithread_test_1/docs/SmMultithreadTest1_2025-12-21_213856.pdf
Due: none

Update sm image for sm_multithread_test_1
  smacc2_sm_reference_library/sm_multithread_test_1/README.md
Due: none

Update sm image for sm_simple_action_client
  smacc2_sm_reference_library/sm_simple_action_client/README.md
  smacc2_sm_reference_library/sm_simple_action_client/docs/SmSimpleActionClient_2025-12-21_225014.svg
  smacc2_sm_reference_library/sm_simple_action_client/docs/SmSimpleActionClient_2025-12-21_225056.pdf
Due: none

Updating sm image for sm_panda_cl_moveit2z_cb_inventory
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/README.md
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/docs/SmPandaClMoveit2zCbInventory_2025-12-21_231551.svg
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/docs/SmPandaClMoveit2zCbInventory_2025-12-21_231617.pdf
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/README.md
Due: none

Update sm image for sm_panda_cl_moveit2z_cb_inventory_isaacsim
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/README.md
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/docs/SmPandaClMoveit2zCbInventoryIsaacsim_2025-12-21_231757.svg
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/docs/SmPandaClMoveit2zCbInventoryIsaacsim_2025-12-21_231847.pdf
Due: none

Update sm image for sm_atomic_http
  smacc2_sm_reference_library/sm_atomic_http/README.md
  smacc2_sm_reference_library/sm_atomic_http/docs/SmAtomicHttp_2025-12-22_0721.pdf
  smacc2_sm_reference_library/sm_atomic_http/docs/SmAtomicHttp_2025-12-22_073.svg
  smacc2_sm_reference_library/sm_atomic_http/docs/SmAtomic_2021-10-18_93942.svg
  smacc2_sm_reference_library/sm_nav2_unit_test_1/README.md
  smacc2_sm_reference_library/sm_nav2_unit_test_1/launch/sm_nav2_unit_test_1.py
Due: none

Update/simplify Readme
  README.md
Due: none

Renaming sm_nav2_unit_test_1 to sm_nav2_gazebo_test_1
  smacc2_dev_tools/sm_reference_lib_run_commands.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/README.md
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/config/sm_nav2_gazebo_test_1_config.yaml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/docs/SmNav2GazeboTest1_2025-12-21_205429.svg
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/docs/SmNav2GazeboTest1_2025-12-21_205531.pdf
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/sm_nav2_gazebo_test_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/states/st_all_sensors_go.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/states/st_final_state.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/states/st_navigate_to_waypoint_1.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/states/st_navigate_to_waypoint_2.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/states/st_rotate.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/include/sm_nav2_gazebo_test_1/states/st_set_initial_pose.hpp
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/launch/sm_nav2_gazebo_test_1.py
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/package.xml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/src/sm_nav2_gazebo_test_1/sm_nav2_gazebo_test_1_node.cpp
  smacc2_sm_reference_library/sm_nav2_unit_test_1/config/sm_nav2_unit_test_1_config.yaml
Due: ament_cppcheck, ament_lint_cmake

Creation of modbus tcp client and state machine
  docs/cl_modbus_tcp_relay_plan.md
  smacc2_client_library/cl_modbus_tcp_relay/CMakeLists.txt
  smacc2_client_library/cl_modbus_tcp_relay/README.md
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/cl_modbus_tcp_relay.hpp
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/client_behaviors/cb_all_relays_off.hpp
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/client_behaviors/cb_all_relays_on.hpp
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/client_behaviors/cb_relay_off.hpp
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/client_behaviors/cb_relay_on.hpp
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/client_behaviors/cb_relay_status.hpp
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/components/cp_modbus_connection.hpp
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/components/cp_modbus_relay.hpp
  smacc2_client_library/cl_modbus_tcp_relay/package.xml
  smacc2_client_library/cl_modbus_tcp_relay/src/cl_modbus_tcp_relay/cl_modbus_tcp_relay.cpp
  smacc2_client_library/cl_modbus_tcp_relay/src/cl_modbus_tcp_relay/components/cp_modbus_connection.cpp
  smacc2_client_library/cl_modbus_tcp_relay/src/cl_modbus_tcp_relay/components/cp_modbus_relay.cpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/README.md
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/config/sm_modbus_tcp_relay_test_1_config.yaml
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/orthogonals/or_relay.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/sm_modbus_tcp_relay_test_1.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_all_off.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_all_on.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_complete.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_connect.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_connected.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_read_status.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_relay_off.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/include/sm_modbus_tcp_relay_test_1/states/st_relay_on.hpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/launch/sm_modbus_tcp_relay_test_1.launch.py
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/package.xml
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/src/sm_modbus_tcp_relay_test_1/sm_modbus_tcp_relay_test_1_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Fixing Pre-commit format error
  smacc2_client_library/cl_modbus_tcp_relay/include/cl_modbus_tcp_relay/client_behaviors/cb_relay_status.hpp
  smacc2_client_library/cl_modbus_tcp_relay/src/cl_modbus_tcp_relay/cl_modbus_tcp_relay.cpp
  smacc2_client_library/cl_modbus_tcp_relay/src/cl_modbus_tcp_relay/components/cp_modbus_connection.cpp
  smacc2_client_library/cl_modbus_tcp_relay/src/cl_modbus_tcp_relay/components/cp_modbus_relay.cpp
  smacc2_sm_reference_library/sm_modbus_tcp_relay_test_1/launch/sm_modbus_tcp_relay_test_1.launch.py
Due: clang-format, ament_cppcheck

Precommit fixes
  smacc2/include/smacc2/client_core_components/cp_subprocess_executor.hpp
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/cl_gcalcli.hpp
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/client_behaviors/cb_wait_connection.hpp
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/components/cp_calendar_event_listener.hpp
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/components/cp_calendar_poller.hpp
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/components/cp_gcalcli_connection.hpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/cl_gcalcli.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/client_behaviors/cb_event_detect.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/client_behaviors/cb_quick_add.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/client_behaviors/cb_status.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/client_behaviors/cb_wait_connection.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/components/cp_calendar_event_listener.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/components/cp_calendar_poller.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/components/cp_gcalcli_connection.cpp
Due: clang-format, ament_cppcheck

CI Fixes
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/types.hpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/components/cp_calendar_event_listener.cpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/components/cp_calendar_poller.cpp
  smacc2_sm_reference_library/sm_cl_gcalcli_test_1/CMakeLists.txt
Due: clang-format, ament_cppcheck, ament_lint_cmake

First refactor of cl_gcalcli and sm_cl_gcalcli_test_1
  smacc2_client_library/cl_gcalcli/CMakeLists.txt
  smacc2_client_library/cl_gcalcli/README.md
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/client_behaviors.hpp
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/client_behaviors/cb_detect_calendar_event.hpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/client_behaviors/cb_detect_calendar_event.cpp
  smacc2_sm_reference_library/sm_cl_gcalcli_test_1/README.md
  smacc2_sm_reference_library/sm_cl_gcalcli_test_1/include/sm_cl_gcalcli_test_1/states/st_test_event_detect.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Precommit fixes
  smacc2_client_library/cl_gcalcli/include/cl_gcalcli/client_behaviors/cb_detect_calendar_event.hpp
  smacc2_client_library/cl_gcalcli/src/cl_gcalcli/client_behaviors/cb_detect_calendar_event.cpp
Due: clang-format, ament_cppcheck

Minor debug msg change
  smacc2_sm_reference_library/sm_cl_gcalcli_test_1/include/sm_cl_gcalcli_test_1/states/st_test_event_detect.hpp
Due: ament_cppcheck

Reactoring cl_keyboard namespaceing
  smacc2_client_library/cl_keyboard/include/cl_keyboard/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/cl_keyboard/include/cl_keyboard/components/cp_keyboard_listener_1.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/sm_cl_keyboard_unit_test_1.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/include/sm_cl_keyboard_unit_test_1/states/st_state_2.hpp
Due: clang-format, ament_cppcheck

cp_topic_subscriber refactor uninitialized variable bug
  smacc2/include/smacc2/client_core_components/cp_topic_subscriber.hpp
Due: clang-format, ament_cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
