Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Pre-commit fix
  smacc2/include/smacc2/client_core_components/cp_topic_subscriber.hpp
Due: clang-format, ament_cppcheck

Fixing CI builds to account for px4_msgs for cl_phx_mr
  .github/SMACC2.jazzy.repos
  .github/workflows/jazzy-binary-build.yml
Due: none

fixed sm_atomic launch readme and addition of px4_msgs & micro-ROS-Agent to vcstools .repos file
  .github/SMACC2.jazzy.repos
  smacc2_sm_reference_library/sm_atomic/README.md
Due: none

Null guard fix for Issues #711 and #713
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
Due: clang-format, ament_cppcheck

Update sm_cl_px4_mr_test_1 diagram
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_1/README.md
  smacc2_sm_reference_library/sm_cl_px4_mr_test_1/docs/SmClPx4MrTest1_2026-2-17_144239.svg
  smacc2_sm_reference_library/sm_cl_px4_mr_test_1/docs/SmClPx4MrTest1_2026-2-26_11713.svg
  smacc2_sm_reference_library/sm_cl_px4_mr_test_1/docs/SmClPx4MrTest1_2026-2-26_11737.pdf
Due: clang-format, ament_cppcheck

Update prompts for cl_px4_mr and cl_ros2_timer packages
  smacc2_dev_tools/claude/Prompts.md
Due: none

Revise prompts for client and state machine tasks
  smacc2_dev_tools/claude/Prompts.md
Due: none

Pre-commit fixes
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_follow_waypoints.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_figure_eight.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_follow_waypoints.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_hold_position.cpp
Due: clang-format, ament_cppcheck

Incorporated micro-ros-agent control into cl_px4_mr and refactored PX4 arming sequence to enable successive runs without PX4 restart
  smacc2_client_library/cl_px4_mr/CMakeLists.txt
  smacc2_client_library/cl_px4_mr/README.md
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/cl_px4_mr.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/components/cp_micro_ros_agent.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_arm_px4.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/components/cp_micro_ros_agent.cpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_2/include/sm_cl_px4_mr_test_2/sm_cl_px4_mr_test_2.hpp
  smacc2_sm_reference_library/sm_cl_px4_mr_test_2/include/sm_cl_px4_mr_test_2/states/st_connect_micro_ros_agent.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Precommit fixes
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.hpp
  smacc2_client_library/cl_px4_mr/include/cl_px4_mr/components/cp_micro_ros_agent.hpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/client_behaviors/cb_connect_micro_ros_agent.cpp
  smacc2_client_library/cl_px4_mr/src/cl_px4_mr/components/cp_micro_ros_agent.cpp
Due: clang-format, ament_cppcheck

sm_sharing_data states machines
  smacc2_sm_reference_library/CLAUDE.md
  smacc2_sm_reference_library/sm_data_sharing_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_data_sharing_1/README.md
  smacc2_sm_reference_library/sm_data_sharing_1/docs/SmDataSharing1_2026-5-21_125317.svg
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/clients/cl_data/cl_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/clients/cl_data/client_behaviors/cb_process_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/clients/cl_data/client_behaviors/cb_store_data1.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/clients/cl_data/client_behaviors/cb_store_data2.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/clients/cl_data/components/cp_mission_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/orthogonals/or_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/sm_data_sharing_1.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/states/st_acquire_data1.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/states/st_acquire_data2.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/include/sm_data_sharing_1/states/st_process_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_1/launch/sm_data_sharing_1.launch.py
  smacc2_sm_reference_library/sm_data_sharing_1/package.xml
  smacc2_sm_reference_library/sm_data_sharing_1/src/sm_data_sharing_1/sm_data_sharing_1_node.cpp
  smacc2_sm_reference_library/sm_data_sharing_2/CMakeLists.txt
  smacc2_sm_reference_library/sm_data_sharing_2/README.md
  smacc2_sm_reference_library/sm_data_sharing_2/docs/SmDataSharing2_2026-5-21_125513.svg
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/clients/cl_data/cl_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/clients/cl_data/client_behaviors/cb_process_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/clients/cl_data/client_behaviors/cb_store_data1.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/clients/cl_data/client_behaviors/cb_store_data2.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/orthogonals/or_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/sm_data_sharing_2.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/states/st_acquire_data1.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/states/st_acquire_data2.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/states/st_process_data.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/include/sm_data_sharing_2/superstates/ss_mission.hpp
  smacc2_sm_reference_library/sm_data_sharing_2/launch/sm_data_sharing_2.launch.py
  smacc2_sm_reference_library/sm_data_sharing_2/package.xml
  smacc2_sm_reference_library/sm_data_sharing_2/src/sm_data_sharing_2/sm_data_sharing_2_node.cpp
Due: ament_cppcheck, ament_lint_cmake

Precommit fixes
  smacc2_sm_reference_library/sm_data_sharing_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_data_sharing_2/CMakeLists.txt
Due: ament_lint_cmake

Adding compiler warnings for new cl_ros2_timer behaviors
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
Due: clang-format, ament_cppcheck

Backport SignalDetector Shutdown Fixes from Humble
  smacc2/src/smacc2/signal_detector.cpp
Due: clang-format, ament_cppcheck

Add missing build dependencies on boost
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_global_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/package.xml
Due: none

sm_simple_action_client: Declare dependency on example_interfaces
  smacc2_sm_reference_library/sm_simple_action_client/package.xml
Due: none

Follow ons to PR#725
  RELEASING.md
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/package.xml
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory_isaacsim/package.xml
  smacc2_sm_reference_library/sm_simple_action_client/package.xml
Due: none

Reference library package.xml cleanup
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_lifecycle/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_multithread_test_1/package.xml
  smacc2_sm_reference_library/sm_pack_ml/package.xml
  smacc2_sm_reference_library/sm_simple_action_client/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
Due: none

Container state behaviors and state reactors
  CLAUDE.md
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2_sm_reference_library/CLAUDE.md
  smacc2_sm_reference_library/sm_mode_state_behavior_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_mode_state_behavior_1/README.md
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/modestates/ms_running.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/sm_mode_state_behavior_1.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/states/st_phase_a.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/states/st_phase_b.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/states/st_phase_c.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/states/st_phase_x.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/states/st_phase_y.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/superstates/ss_phase_1.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/include/sm_mode_state_behavior_1/superstates/ss_phase_2.hpp
  smacc2_sm_reference_library/sm_mode_state_behavior_1/launch/sm_mode_state_behavior_1.launch.py
  smacc2_sm_reference_library/sm_mode_state_behavior_1/package.xml
  smacc2_sm_reference_library/sm_mode_state_behavior_1/src/sm_mode_state_behavior_1/sm_mode_state_behavior_1_node.cpp
  smacc2_sm_reference_library/sm_retry_logic_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_retry_logic_1/README.md
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/orthogonals/or_keyboard.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/sm_retry_logic_1.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/states/st_attempting.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/states/st_exhausted.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/states/st_idle.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/states/st_success.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/include/sm_retry_logic_1/superstates/ss_attempt_task.hpp
  smacc2_sm_reference_library/sm_retry_logic_1/launch/sm_retry_logic_1.launch.py
  smacc2_sm_reference_library/sm_retry_logic_1/package.xml
  smacc2_sm_reference_library/sm_retry_logic_1/src/sm_retry_logic_1/sm_retry_logic_1_node.cpp
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_three_some/include/sm_three_some/states/st_state_2.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Precommit fix
  smacc2_sm_reference_library/sm_mode_state_behavior_1/launch/sm_mode_state_behavior_1.launch.py
Due: none

Updates to RELEASING.MD
  .github/filter_rosdistro.py
  RELEASING.md
  smacc2_msgs/package.xml
Due: none

Precommit
  .github/filter_rosdistro.py
Due: none

Precommit 2
  .github/filter_rosdistro.py
Due: none

Package.xml updates
  smacc2_client_library/cl_http/package.xml
  smacc2_client_library/cl_modbus_tcp_relay/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_nav2_gazebo_test_1/package.xml
Due: none

update readme table
  README.md
Due: none

More readme updates
  README.md
Due: none

More edits to RELEASING.MD
  .github/filter_rosdistro.py
  RELEASING.md
Due: none

RELEASING.MD updates from run through
  RELEASING.md
Due: none

#include directives cleanup
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
Due: clang-format, ament_cppcheck

Fixing spelling errors in smacc2, cl_moveit2z and cl_nav2z public APIs
  smacc2/CHANGELOG.rst
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_joints.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
Due: clang-format, ament_cppcheck

cl_http cleanup
  smacc2_client_library/cl_http/CMakeLists.txt
  smacc2_client_library/cl_http/include/cl_http/cl_http.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

cl_keyboard cmakelists cleanup
  smacc2_client_library/cl_keyboard/CMakeLists.txt
Due: ament_lint_cmake

cl_moveit2z refactor
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_attach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_circular_pivot_motion.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_detach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_end_effector_rotate.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_joints.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_undo_last_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_joint_space_trajectory_planner.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_motion_planner.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_move_group_interface.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_executor.hpp
Due: clang-format, ament_cppcheck

CpMotionPlanner
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
Due: clang-format, ament_cppcheck

Minor refactor of cl_nav2. Move to nav2 release 1.3.11
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_rotate.hpp
Due: clang-format, ament_cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
