Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

changing name
  .github/workflows/humble-bloom-release.yml
Due: none

dockerfile and launching
  smacc2_sm_reference_library/sm_dancebot_ue/docker/Dockerfile
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_bash.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_bash_development.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_editor.sh
Due: none

finishing environment
  smacc2_sm_reference_library/sm_dancebot_ue/docker/Dockerfile
  smacc2_sm_reference_library/sm_dancebot_ue/docker/save_current_docker_image.sh
Due: none

fix save script
  smacc2_sm_reference_library/sm_dancebot_ue/docker/save_current_docker_image.sh
Due: none

fixing format
  smacc2_sm_reference_library/sm_dancebot_ue/docker/Dockerfile
  smacc2_sm_reference_library/sm_dancebot_ue/docker/save_current_docker_image.sh
Due: none

missing
  smacc2_sm_reference_library/sm_dancebot_ue/docker/README.md
Due: none

minor
  smacc2_client_library/lifecyclenode_client/package.xml
  smacc2_sm_reference_library/sm_dance_bot/package.xml
Due: none

minor
  smacc2_sm_reference_library/sm_atomic_mode_states/CHANGELOG.rst
Due: none

minor
  smacc2_sm_reference_library/sm_multi_panda_sim/sm_multi_panda_sim/CMakeLists.txt
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/CMakeLists.txt
Due: ament_lint_cmake

fixing
  smacc2_msgs/CMakeLists.txt
Due: ament_lint_cmake

Attempt 2
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/ros_timer_client/src/ros_timer_client/cb_timer_countdown_loop.cpp
  smacc2_client_library/ros_timer_client/src/ros_timer_client/cb_timer_countdown_once.cpp
  smacc2_performance_tools/_smacc2_sm_template/README.md
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/README.md
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/README.md
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/README.md
  smacc2_sm_reference_library/_smacc2_sm_template/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_atomic/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_services/README.md
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/clients/client_behaviors/cb_service_server.hpp
  smacc2_sm_reference_library/sm_branching/README.md
  smacc2_sm_reference_library/sm_dance_bot/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/README.md
  smacc2_sm_reference_library/sm_multi_stage_1/README.md
  smacc2_sm_reference_library/sm_pack_ml/README.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/README.md
  smacc2_sm_reference_library/sm_pubsub_1/README.md
  smacc2_sm_reference_library/sm_three_some/README.md
Due: clang-format, ament_cppcheck

Attempt 2 (#526)
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/ros_timer_client/src/ros_timer_client/cb_timer_countdown_loop.cpp
  smacc2_client_library/ros_timer_client/src/ros_timer_client/cb_timer_countdown_once.cpp
  smacc2_performance_tools/_smacc2_sm_template/README.md
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/README.md
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/README.md
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/README.md
  smacc2_sm_reference_library/_smacc2_sm_template/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_atomic/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_services/README.md
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/clients/client_behaviors/cb_service_server.hpp
  smacc2_sm_reference_library/sm_branching/README.md
  smacc2_sm_reference_library/sm_dance_bot/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/README.md
  smacc2_sm_reference_library/sm_multi_stage_1/README.md
  smacc2_sm_reference_library/sm_pack_ml/README.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/README.md
  smacc2_sm_reference_library/sm_pubsub_1/README.md
  smacc2_sm_reference_library/sm_three_some/README.md
Due: clang-format, ament_cppcheck

Update readme
  README.md
Due: none

Brettpac branch (#527)
  README.md
Due: none

Added example showasing http requests
  smacc2/include/smacc2/client_bases/smacc_http_client.hpp
  smacc2_sm_reference_library/sm_atomic_http/CHANGELOG.rst
  smacc2_sm_reference_library/sm_atomic_http/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_http/README.md
  smacc2_sm_reference_library/sm_atomic_http/config/sm_atomic_http_config.yaml
  smacc2_sm_reference_library/sm_atomic_http/config/sm_atomic_http_test.yaml
  smacc2_sm_reference_library/sm_atomic_http/docs/SmAtomic_2021-10-18_93942.svg
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/clients/client_behaviors/cb_http_request.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/orthogonals/or_http.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/sm_atomic_http.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_http/launch/sm_atomic_http.launch
  smacc2_sm_reference_library/sm_atomic_http/launch/sm_atomic_http.py
  smacc2_sm_reference_library/sm_atomic_http/package.xml
  smacc2_sm_reference_library/sm_atomic_http/src/sm_atomic_http/sm_atomic_http_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Ported http work over from smacc1
  smacc2/include/smacc2/client_bases/smacc_http_client.hpp
Due: clang-format, ament_cppcheck

Made provision for HTTP GET/POST in the HTTP client
  smacc2/include/smacc2/client_bases/smacc_http_client.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/clients/client_behaviors/cb_http_request.hpp
Due: clang-format, ament_cppcheck

Fixed some typos in the HTTP example
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/clients/client_behaviors/cb_http_request.hpp
Due: ament_cppcheck

turn over state machine
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator_base.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/CHANGELOG.rst
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/states/st_event_count_down.hpp
  smacc2_sm_reference_library/sm_dance_bot/launch/bringup_launch.py
  smacc2_sm_reference_library/sm_dance_bot/launch/gazebo_launch.py
  smacc2_sm_reference_library/sm_dance_bot/package.xml
  smacc2_sm_reference_library/sm_dancebot_ue/CMakeLists.txt
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/clients/cl_nav2z/client_behaviors/cb_active_stop.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/clients/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_free.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/clients/cl_nav2z/client_behaviors/cb_position_control_free_space.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/clients/cl_nav2z/client_behaviors/cb_pure_spinning.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/sm_dancebot_ue.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/states/st_acquire_sensors.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/states/st_final_state.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/states/st_inital_road_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/states/st_turn_around.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client/waypoints_plan_back_on_road.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/params/sm_dancebot_ue_config.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/src/sm_dancebot_ue/clients/client_behaviors/nav2z_client/cb_active_stop.cpp
  smacc2_sm_reference_library/sm_dancebot_ue/src/sm_dancebot_ue/clients/client_behaviors/nav2z_client/cb_position_control_free_space.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

minor
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_bash_development.sh
Due: none

push
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/clients/cl_nav2z/client_behaviors/cb_load_waypoints_file.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/modestates/ms_dance_bot_recovery_mode.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/modestates/ms_dance_bot_run_mode.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/sm_dancebot_ue.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/launch/sm_dancebot_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client_husky/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client_husky/navigation_tree.xml
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client_husky/waypoints_plan.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client_turtlebot/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client_turtlebot/navigation_tree.xml
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client_turtlebot/waypoints_plan.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/params/sm_dancebot_ue_config.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/src/sm_dancebot_ue/sm_dancebot_ue.cpp
Due: clang-format, ament_cppcheck

waypoints fix
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/waypoints_art_gallery.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client_husky/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client_husky/navigation_tree.xml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client_husky/waypoints_plan.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client_turtlebot/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client_turtlebot/navigation_tree.xml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client_turtlebot/waypoints_plan.yaml
Due: none

more changes
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgalery_ue/states/st_back_on_road_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgalery_ue/states/st_inital_road_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_inital_road_waypoints_x.hpp
Due: ament_cppcheck

minor
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/scripts/ue_navigation_frames_ground_truth_adapter.py
Due: none

minor
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/CMakeLists.txt
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/scripts/ue_navigation_frames_ground_truth_adapter.py
Due: ament_lint_cmake

navigation parameters
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/launch/sm_dancebot_artgallery_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/scripts/transform_publisher.py
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/scripts/ue_navigation_frames_ground_truth_adapter.py
Due: none

Añadidos waypoints y cambiado el nombre del nodo en el json de depuración que podía dar fallo
  smacc2_dev_tools/.vscode/launch.json
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/waypoints_art_gallery.yaml
Due: none

progress state machine
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/frames_2023-08-05_01.06.53.gv
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/clients/cl_nav2z/client_behaviors/cb_load_waypoints_file.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/clients/cl_nav2z/client_behaviors/cb_pure_spinning.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/orthogonals/or_navigation.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/sm_dancebot_artgallery_ue.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_acquire_sensors.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_inital_road_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_navigate_artgallery_waypoints.x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_navigate_field_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_turn_around.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/superstates/ss_f_pattern_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/superstates/ss_radial_pattern_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/superstates/ss_radial_pattern_2.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/superstates/ss_radial_pattern_3.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/superstates/ss_s_pattern_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/launch/navigation_launch.py
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/launch/sm_dancebot_artgallery_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/waypoints_art_gallery.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/scripts/transform_publisher.py
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/scripts/ue_navigation_frames_ground_truth_adapter.py
  smacc2_sm_reference_library/sm_dancebot_ue/include/sm_dancebot_ue/clients/cl_nav2z/client_behaviors/cb_pure_spinning.hpp
Due: clang-format, ament_cppcheck

ue_projec_2 refactoring
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/CMakeLists.txt
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/attach_docker_container.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/join_bash.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/join_editor.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/remove_container.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/run_docker_container_bash.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/run_docker_container_bash_development.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/run_docker_container_editor.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/start_container.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/stop_container.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/src/sm_dancebot_artgalery_ue/clients/client_behaviors/nav2z_client/cb_active_stop.cpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/src/sm_dancebot_artgallery_ue/clients/client_behaviors/nav2z_client/cb_active_stop.cpp
  smacc2_sm_reference_library/sm_dancebot_ue/CMakeLists.txt
  smacc2_sm_reference_library/sm_dancebot_ue/src/sm_dancebot_ue/clients/client_behaviors/nav2z_client/cb_active_stop.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

tunning navigation
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_navigate_forward.cpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/openvpn_file_run.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/run_docker_container_bash_development.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/sm_dancebot_artgallery_ue.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/f_pattern_states/sti_fpattern_forward_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/f_pattern_states/sti_fpattern_rotate_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/f_pattern_states/sti_fpattern_rotate_2.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_navigate_artgallery_waypoints.x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/superstates/ss_f_pattern_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/waypoints_art_gallery.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/rviz/nav2_default_view.rviz
  smacc2_sm_reference_library/sm_dancebot_ue/docker/attach_docker_container.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/join_bash.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/join_editor.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/openvpn_file_run.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/remove_container.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_bash.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_bash_development.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_editor.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/start_container.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/stop_container.sh
Due: clang-format, ament_cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
