Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

missing repo
  SMACC2-not-released.humble.repos
Due: none

fixing humble build
  SMACC2-not-released.humble.repos
  docker/Dockerfile
Due: none

missing
  SMACC2-not-released.humble.repos
Due: none

minor
  SMACC2-not-released.humble.repos
Due: none

updating branch
  SMACC2-not-released.humble.repos
Due: none

ported signals and mode state advanced
  .pre-commit-config.yaml
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_orthogonal.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_dev_tools/.vscode/launch.json
  smacc2_sm_reference_library/sm_atomic_mode_states/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_config.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/client_behaviors/cb_updatable_test.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/sm_atomic_mode_states.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/src/sm_atomic_mode_states/sm_atomic_mode_states_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

minor format changes
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
Due: clang-format, ament_cppcheck

pending fixes
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2_dev_tools/.vscode/settings.json
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/client_behaviors/cb_updatable_test.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/sm_atomic_mode_states.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/src/sm_atomic_mode_states/sm_atomic_mode_states_node.cpp
Due: clang-format, ament_cppcheck

Feature/ported mode states race condition smacc signals (#438)
  .pre-commit-config.yaml
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_orthogonal.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_dev_tools/.vscode/launch.json
  smacc2_dev_tools/.vscode/settings.json
  smacc2_sm_reference_library/sm_atomic_mode_states/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_config.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/client_behaviors/cb_updatable_test.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/sm_atomic_mode_states.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/src/sm_atomic_mode_states/sm_atomic_mode_states_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

migration to humble
  .vscode/launch.json
  .vscode/settings.json
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_orthogonal.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_sm_reference_library/sm_atomic_mode_states/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_config.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/client_behaviors/cb_updatable_test.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/sm_atomic_mode_states.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/src/sm_atomic_mode_states/sm_atomic_mode_states_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

missing format
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
Due: none

added trailing newline - server auto-checkers (#436)
  docker/examples/autoware_sm_path_planner/autoware.repos
Due: none

changes
  .vscode/launch.json
  .vscode/settings.json
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_orthogonal.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_sm_reference_library/sm_atomic_mode_states/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_config.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/client_behaviors/cb_updatable_test.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/sm_atomic_mode_states.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/src/sm_atomic_mode_states/sm_atomic_mode_states_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

minor
  smacc2/include/smacc2/smacc_state_machine.hpp
Due: clang-format, ament_cppcheck

migration done to foxy
  smacc2/include/smacc2/common.hpp
  smacc2/include/smacc2/smacc_orthogonal.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
Due: clang-format, ament_cppcheck

migration to humble (#439)
  .vscode/launch.json
  .vscode/settings.json
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_orthogonal.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_sm_reference_library/sm_atomic_mode_states/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_config.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/client_behaviors/cb_updatable_test.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/sm_atomic_mode_states.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/src/sm_atomic_mode_states/sm_atomic_mode_states_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Feature/migration race condition mode states signals foxy (#440)
  .vscode/launch.json
  .vscode/settings.json
  smacc2/include/smacc2/callback_counter_semaphore.hpp
  smacc2/include/smacc2/common.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/smacc_orthogonal.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/src/smacc2/callback_counter_semaphore.cpp
  smacc2/src/smacc2/orthogonal.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_sm_reference_library/sm_atomic_mode_states/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_config.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/client_behaviors/cb_updatable_test.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/sm_atomic_mode_states.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/ms_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/include/sm_atomic_mode_states/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_mode_states/launch/sm_atomic_mode_states.py
  smacc2_sm_reference_library/sm_atomic_mode_states/package.xml
  smacc2_sm_reference_library/sm_atomic_mode_states/src/sm_atomic_mode_states/sm_atomic_mode_states_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

new version
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

new version (#441)
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

Update galactic-bloom-release.yml
  .github/workflows/galactic-bloom-release.yml
Due: none

Update galactic-bloom-release.yml (#444)
  .github/workflows/galactic-bloom-release.yml
Due: none

Update foxy-bloom-release.yml
  .github/workflows/foxy-bloom-release.yml
Due: none

Update foxy-bloom-release.yml (#445)
  .github/workflows/foxy-bloom-release.yml
Due: none

new foxy branch auto release
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

fix
  .github/workflows/humble-bloom-release.yml
Due: none

new foxy branch auto release (#446)
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

Update humble-bloom-release.yml
  .github/workflows/humble-bloom-release.yml
Due: none

Update signal_detector.cpp
  smacc2/src/smacc2/signal_detector.cpp
Due: clang-format, ament_cppcheck

Update signal_detector.cpp (#448)
  smacc2/src/smacc2/signal_detector.cpp
Due: clang-format, ament_cppcheck

2.1.4 version new
  .github/workflows/foxy-bloom-release.yml
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

2.1.4 version new (#449)
  .github/workflows/foxy-bloom-release.yml
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

Update foxy-bloom-release.yml (#451)
  .github/workflows/foxy-bloom-release.yml
Due: none

foxy 2.1.6
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

foxy 2.1.6 (#452)
  smacc2/package.xml
  smacc2_client_library/keyboard_client/package.xml
  smacc2_client_library/multirole_sensor_client/package.xml
  smacc2_client_library/ros_publisher_client/package.xml
  smacc2_client_library/ros_timer_client/package.xml
  smacc2_event_generator_library/eg_conditional_generator/package.xml
  smacc2_event_generator_library/eg_random_generator/package.xml
  smacc2_msgs/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/package.xml
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/package.xml
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/package.xml
  smacc2_sm_reference_library/sm_advanced_recovery_1/package.xml
  smacc2_sm_reference_library/sm_atomic/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_autoware_avp/package.xml
  smacc2_sm_reference_library/sm_branching/package.xml
  smacc2_sm_reference_library/sm_multi_stage_1/package.xml
  smacc2_sm_reference_library/sm_pubsub_1/package.xml
  smacc2_sm_reference_library/sm_respira_1/package.xml
  smacc2_sm_reference_library/sm_three_some/package.xml
  smacc2_state_reactor_library/sr_all_events_go/package.xml
  smacc2_state_reactor_library/sr_conditional/package.xml
  smacc2_state_reactor_library/sr_event_countdown/package.xml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
