Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Automating Test Procedures
  .claude/settings.json
  smacc2_dev_tools/claude/Prompts.md
  smacc2_sm_reference_library/CLAUDE.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/sm_panda_moveit2z_cb_inventory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_attach_object.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_detach_object.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_end_effector_rotate.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_cartesian_relative.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_end_effector.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_known_state_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_10.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_11.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_12.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_13.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_14.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_15.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_16.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_6.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_7.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_8.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_9.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pouring_motion.hpp
Due: ament_cppcheck

Automated testing working - sort of
  .claude/settings.json
  CLAUDE.md
  smacc2_dev_tools/claude/Prompts.md
  smacc2_sm_reference_library/CLAUDE.md
Due: none

Initialize 'initialized_' in SmaccSubscriberClient constructor
  smacc2/include/smacc2/client_bases/smacc_subscriber_client.hpp
Due: clang-format, ament_cppcheck

Fix formatting in SmaccSubscriberClient constructor
  smacc2/include/smacc2/client_bases/smacc_subscriber_client.hpp
Due: clang-format, ament_cppcheck

konsole
  .claude/settings.json
  smacc2_dev_tools/claude/Prompts.md
  smacc2_sm_reference_library/CLAUDE.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/sm_panda_moveit2z_cb_inventory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_circular_pivot_motion.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_end_effector_rotate.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_cartesian_relative.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_cartesian_relative2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_end_effector.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_1.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_10.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_11.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_12.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_13.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_6.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_7.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_8.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_9.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pouring_motion.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_undo_last_trajectory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/sm_panda_moveit2z_cb_inventory.launch.py
Due: ament_cppcheck

sm_panda_moveit2z_cb_inventory launch file konsole & log file output
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/sm_panda_moveit2z_cb_inventory.launch.py
Due: none

precommit
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/sm_panda_moveit2z_cb_inventory.launch.py
Due: none

Adding color back to konsole output
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/sm_panda_moveit2z_cb_inventory.launch.py
Due: none

Got StMoveCartesianRelative2 working
  smacc2_dev_tools/claude/Prompts.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_cartesian_relative2.hpp
Due: ament_cppcheck

Got undotrajectory working
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/sm_panda_moveit2z_cb_inventory.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_circular_pivot_motion.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_cartesian_relative2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_3.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_4.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints_5.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_known_state_2.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_10.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_12.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_13.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_4.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_5.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_6.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pause_7.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_pouring_motion.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_undo_last_trajectory.hpp
Due: ament_cppcheck

precommit
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector.hpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_end_effector_relative.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_joints.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_known_state.cpp
Due: clang-format, ament_cppcheck

fixing ci build
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/config/sm_panda_cl_moveit2z_cb_inventory_ur5_sim.yaml
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/package.xml
Due: none

Trimmed down cl_moveit2z
  smacc2_client_library/cl_moveit2z/CMakeLists.txt
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_attach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_detach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_execute_last_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_cartesian_relative.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_relative.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_joints_relative.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_last_trajectory_initial_state.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_named_target.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_pouring_motion.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_tf_listener.hpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_attach_object.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_circular_pivot_motion.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_detach_object.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_cartesian_relative.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_end_effector_relative.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_last_trajectory_initial_state.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_named_target.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_pouring_motion.cpp
  smacc2_dev_tools/claude/Prompts.md
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/sm_panda_cl_moveit2z_cb_inventory.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_attach_object.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_circular_pivot_motion.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_detach_object.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_execute_last_trajectory.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_move_cartesian_relative.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_move_known_state_3.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_move_last_trajectory_initial_state.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_move_named_target.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_pause_12.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_pause_14.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_pause_15.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_pause_16.hpp
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/include/sm_panda_cl_moveit2z_cb_inventory/states/st_pouring_motion.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Refactoring all cl_moveit2z cbs to header-only
  smacc2_client_library/cl_moveit2z/CMakeLists.txt
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_circular_pivot_motion.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_end_effector_rotate.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_cartesian_relative2.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_joints.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_known_state.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_undo_last_trajectory.hpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_circular_pivot_motion.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_end_effector_rotate.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_cartesian_relative2.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_end_effector.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_joints.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_move_known_state.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_undo_last_trajectory.cpp
  smacc2_dev_tools/claude/Prompts.md
Due: clang-format, ament_cppcheck, ament_lint_cmake

precommit
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_circular_pivot_motion.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_end_effector_rotate.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_joints.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_known_state.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_undo_last_trajectory.hpp
  smacc2_dev_tools/claude/Prompts.md
Due: clang-format, ament_cppcheck

Moving cl_moveit2z components to header-only implementation
  smacc2_client_library/cl_moveit2z/CMakeLists.txt
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/common.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_grasping_objects.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_history.hpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/cl_moveit2z.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/client_behaviors/cb_execute_last_trajectory.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/common.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/components/cp_grasping_objects.cpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/components/cp_trajectory_history.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Pulling constructors and destructors into cl_moveit2z.cpp file
  smacc2_client_library/cl_moveit2z/CMakeLists.txt
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
  smacc2_client_library/cl_moveit2z/src/cl_moveit2z/cl_moveit2z.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Adding cb_attach and cb_detach in header-only implementations
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_attach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_detach_object.hpp
Due: clang-format, ament_cppcheck

precommit fix
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_attach_object.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_detach_object.hpp
Due: clang-format, ament_cppcheck

Refactored cl_moveit2z to a pure component based architecture
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_circular_pivot_motion.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_end_effector_rotate.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_joints.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_joint_space_trajectory_planner.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_motion_planner.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_tf_listener.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_executor.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_visualizer.hpp
Due: clang-format, ament_cppcheck

precommit fix
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_joint_space_trajectory_planner.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_motion_planner.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_tf_listener.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_executor.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/components/cp_trajectory_visualizer.hpp
Due: clang-format, ament_cppcheck

Refactoring shutdown procedures
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/signal_detector.cpp
Due: clang-format, ament_cppcheck

Refactoring sm shutdown
  smacc2_sm_reference_library/sm_simple_action_client/README.md
Due: none

Updating the CLAUDE.md files
  smacc2_client_library/CLAUDE.md
  smacc2_sm_reference_library/CLAUDE.md
Due: none

Trimming sm_atomic_services and sm_atomic_24hr from sm_reference_library
  smacc2_sm_reference_library/sm_atomic_24hr/CHANGELOG.rst
  smacc2_sm_reference_library/sm_atomic_24hr/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/config/sm_atomic_24hr_config.yaml
  smacc2_sm_reference_library/sm_atomic_24hr/config/sm_atomic_24hr_test.yaml
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72056.svg
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72112.pdf
  smacc2_sm_reference_library/sm_atomic_24hr/include/sm_atomic_24hr/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_24hr/include/sm_atomic_24hr/sm_atomic_24hr.hpp
  smacc2_sm_reference_library/sm_atomic_24hr/include/sm_atomic_24hr/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_24hr/include/sm_atomic_24hr/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_24hr/launch/sm_atomic_24hr.launch
  smacc2_sm_reference_library/sm_atomic_24hr/launch/sm_atomic_24hr.py
  smacc2_sm_reference_library/sm_atomic_24hr/package.xml
  smacc2_sm_reference_library/sm_atomic_24hr/src/sm_atomic_24hr/sm_atomic_24hr_node.cpp
  smacc2_sm_reference_library/sm_atomic_services/CHANGELOG.rst
  smacc2_sm_reference_library/sm_atomic_services/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_services/README.md
  smacc2_sm_reference_library/sm_atomic_services/config/sm_atomic_services_config.yaml
  smacc2_sm_reference_library/sm_atomic_services/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_services/docs/SmAtomic_2021-10-18_93942.svg
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/clients/cl_service_client.hpp
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/clients/cl_service_server.hpp
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/clients/client_behaviors/cb_service_server.hpp
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/orthogonals/or_services.hpp
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/sm_atomic_services.hpp
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_services/include/sm_atomic_services/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_services/launch/sm_atomic_services.py
  smacc2_sm_reference_library/sm_atomic_services/package.xml
  smacc2_sm_reference_library/sm_atomic_services/src/sm_atomic_services/sm_atomic_services_node.cpp
Due: ament_cppcheck, ament_lint_cmake

Updating sm_reference library sm images
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/README.md
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/docs/SmClKeyboardUnitTest1_2025-9-18_93223.svg
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/README.md
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/docs/SmClRos2TimerUnitTest1_2025-9-15_56482.svg
Due: none

RELEASING.md
  CLAUDE.md
  RELEASING.md
Due: none

Cleaning up a few warnings from bloom re artifacts
  .github/workflows/ci-ros-lint.yaml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  smacc2_sm_reference_library/sm_pack_ml/include/sm_pack_ml/orthogonals/or_updatable_publisher.hpp
Due: ament_cppcheck

Updating CI Linting and Build.ymls
  .github/workflows/ci-ros-lint.yaml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
Due: none

Big CHANGELOG Refactor
  smacc2_client_library/cl_keyboard/CHANGELOG.rst
  smacc2_client_library/cl_moveit2z/CHANGELOG.rst
  smacc2_client_library/cl_nav2z/CHANGELOG.rst
  smacc2_client_library/cl_ros2_timer/CHANGELOG.rst
  smacc2_client_library/keyboard_client/CHANGELOG.rst
  smacc2_client_library/moveit2z_client/CHANGELOG.rst
  smacc2_client_library/multirole_sensor_client/CHANGELOG.rst
  smacc2_client_library/nav2z_client/nav2z_client/CHANGELOG.rst
  smacc2_client_library/ros_timer_client/CHANGELOG.rst
  smacc2_performance_tools/performance_tests/sm_atomic_performance_trace_1/CHANGELOG.rst
  smacc2_performance_tools/performance_tests/sm_atomic_subscribers_performance_test/CHANGELOG.rst
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_advanced_recovery_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_atomic/CHANGELOG.rst
  smacc2_sm_reference_library/sm_branching/CHANGELOG.rst
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_multi_stage_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/CHANGELOG.rst
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/CHANGELOG.rst
  smacc2_sm_reference_library/sm_three_some/CHANGELOG.rst
  smacc2_state_reactor_library/sr_all_events_go/CHANGELOG.rst
  smacc2_state_reactor_library/sr_conditional/CHANGELOG.rst
Due: none

A few lingering sm CHANGELOG refactors
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/CHANGELOG.rst
Due: none

Filling in date placeholder for release 2.3.20
  smacc2/CHANGELOG.rst
  smacc2_client_library/cl_keyboard/CHANGELOG.rst
  smacc2_client_library/cl_moveit2z/CHANGELOG.rst
  smacc2_client_library/cl_nav2z/CHANGELOG.rst
  smacc2_client_library/cl_ros2_timer/CHANGELOG.rst
  smacc2_sm_reference_library/sm_cl_keyboard_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_panda_cl_moveit2z_cb_inventory/CHANGELOG.rst
Due: none

Updating pass on package.xml file
  smacc2_client_library/cl_keyboard/package.xml
  smacc2_client_library/cl_moveit2z/package.xml
  smacc2_client_library/cl_nav2z/package.xml
  smacc2_client_library/cl_ros2_timer/package.xml
  smacc2_client_library/lifecyclenode_client/package.xml
  smacc2_client_library/moveit2z_client/package.xml
  smacc2_client_library/nav2z_client/custom_planners/backward_global_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/backward_local_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/forward_local_planner/package.xml
  smacc2_client_library/nav2z_client/custom_planners/nav2z_planners_common/package.xml
  smacc2_client_library/nav2z_client/custom_planners/undo_path_global_planner/package.xml
  smacc2_client_library/nav2z_client/nav2z_client/package.xml
Due: none

Added missing header dependency to smacc_orthogonal_impl.hpp - See Issue #559
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
Due: clang-format, ament_cppcheck

Removed legacy prerelease.yml
  .github/workflows/prerelease.yml
Due: none

sm_multithread_test_1
  smacc2_sm_reference_library/sm_multithread_test_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_multithread_test_1/README.md
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/client_behaviors/cb_timer_with_work_simulation.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/orthogonals/or_timer_a.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/orthogonals/or_timer_b.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/orthogonals/or_timer_c.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/orthogonals/or_timer_d.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/sm_multithread_test_1.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/states/st_complete.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/include/sm_multithread_test_1/states/st_concurrent_operation.hpp
  smacc2_sm_reference_library/sm_multithread_test_1/launch/sm_multithread_test_1.launch.py
  smacc2_sm_reference_library/sm_multithread_test_1/launch/sm_multithread_test_1_single.launch.py
  smacc2_sm_reference_library/sm_multithread_test_1/package.xml
  smacc2_sm_reference_library/sm_multithread_test_1/src/sm_multithread_test_1/sm_multithread_test_1_node.cpp
  smacc2_sm_reference_library/sm_multithread_test_1/src/sm_multithread_test_1/sm_multithread_test_1_node_single.cpp
Due: ament_cppcheck, ament_lint_cmake

CI Build Fix
  smacc2_sm_reference_library/sm_multithread_test_1/CMakeLists.txt
Due: ament_lint_cmake

Continuing migration from onOrthogonalAllocation() to onStateOrthogonalAllocation()
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/client_bases/smacc_subscriber_client.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_launch.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_launch_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_stop_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_sequence.hpp
  smacc2/include/smacc2/client_behaviors/cb_wait_action_server.hpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_stop_2.cpp
  smacc2_client_library/CLAUDE.md
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/cl_moveit2z.hpp
  smacc2_client_library/cl_moveit2z/include/cl_moveit2z/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_activate.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_cleanup.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_configure.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_deactivate.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_deactivate_on_exit.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_destroy.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/client_behaviors/cb_shutdown.hpp
  smacc2_client_library/lifecyclenode_client/include/lifecyclenode_client/lifecyclenode_client.hpp
  smacc2_client_library/moveit2z_client/include/moveit2z_client/cl_moveit2z.hpp
  smacc2_client_library/moveit2z_client/include/moveit2z_client/client_behaviors/cb_move_end_effector_trajectory.hpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/cl_ros_timer.hpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/client_behaviors/cb_ros_timer.hpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/ros_timer_client/include/include/ros_timer_client/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/cl_ros_timer.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/client_behaviors/cb_ros_timer.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/ros_timer_client/include/ros_timer_client/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/clients/client_behaviors/cb_http_request.hpp
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/fibonacci_action_client/client_behaviors/cb_fibonacci.hpp
  smacc2_sm_reference_library/sm_simple_action_client/include/sm_simple_action_client/mode_selection_client/cl_mode_select.hpp
Due: clang-format, ament_cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
