Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

missing
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_navigate_artgallery_waypoints.x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/superstates/ss_radial_pattern_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/waypoints_art_gallery.yaml
Due: ament_cppcheck

art gallery
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.cpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/st_navigate_artgallery_waypoints.x.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/params/nav2z_client/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/rviz/nav2_default_view.rviz
Due: clang-format, ament_cppcheck

Update README.md
  smacc2_sm_reference_library/sm_dancebot_ue/docker/README.md
Due: none

fixes
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_forward_4.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_rotate_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_rotate_3.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_rotate_4.hpp
  smacc2_sm_reference_library/sm_dancebot_ue/launch/sm_dancebot_ue_launch.py
Due: ament_cppcheck

merge
  smacc2_sm_reference_library/sm_dancebot_ue/docker/README.md
Due: none

missing code
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/f_pattern_states/sti_fpattern_forward_2.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/radial_motion_states/sti_radial_end_point.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_forward_4.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_rotate_1.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_rotate_3.hpp
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/include/sm_dancebot_artgallery_ue/states/s_pattern_states/sti_spattern_rotate_4.hpp
Due: ament_cppcheck

refactoring files
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/older/run_docker_container_bash.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/older/run_docker_container_editor.sh
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/older/run_editor_smacc.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/older/run_docker_container_bash.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/older/run_docker_container_editor.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/older/run_editor_smacc.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_bash_development.sh
Due: none

updating docker
  smacc2_sm_reference_library/sm_dancebot_ue/docker/Dockerfile
  smacc2_sm_reference_library/sm_dancebot_ue/docker/build_docker.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/run_docker_container_bash_development.sh
  smacc2_sm_reference_library/sm_dancebot_ue/docker/update_project_files.sh
Due: none

fixing builds
  .github/SMACC2.humble.repos
  .github/workflows/humble-binary-build.yml
Due: none

Moved HTTP client into the client_libraries folder and made separate compilation units. Modified examples to use this new client
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/client_bases/smacc_http_client.hpp
  smacc2_client_library/http_client/CMakeLists.txt
  smacc2_client_library/http_client/include/http_client/http_client.hpp
  smacc2_client_library/http_client/package.xml
  smacc2_client_library/http_client/src/http_client/http_client.cpp
  smacc2_sm_reference_library/sm_atomic_http/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/clients/client_behaviors/cb_http_request.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/orthogonals/or_http.hpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Update smacc_action_client_base.hpp
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
Due: clang-format, ament_cppcheck

Update http_client.cpp
  smacc2_client_library/http_client/src/http_client/http_client.cpp
Due: clang-format, ament_cppcheck

Update cb_http_request.hpp
  smacc2_sm_reference_library/sm_atomic_http/include/sm_atomic_http/clients/client_behaviors/cb_http_request.hpp
Due: ament_cppcheck

Update sm_atomic_http.py
  smacc2_sm_reference_library/sm_atomic_http/launch/sm_atomic_http.py
Due: none

Delete launch nav2
  smacc2_sm_reference_library/sm_dancebot_mine_ue/launch/bringup_launch.py
  smacc2_sm_reference_library/sm_dancebot_mine_ue/launch/navigation_launch.py
  smacc2_sm_reference_library/sm_dancebot_mine_ue/launch/online_sync_launch.py
  smacc2_sm_reference_library/sm_dancebot_mine_ue/launch/slam_launch.py
  smacc2_sm_reference_library/sm_dancebot_mine_ue/launch/sm_dancebot_mine_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_mine_ue/params/nav2z_client/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_mine_ue/params/nav2z_client/navigation_tree.xml
  smacc2_sm_reference_library/sm_dancebot_ue/launch/bringup_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/launch/navigation_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/launch/online_sync_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/launch/slam_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/launch/sm_dancebot_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client/nav2_params.yaml
  smacc2_sm_reference_library/sm_dancebot_ue/params/nav2z_client/navigation_tree.xml
Due: none

changes
  smacc2_sm_reference_library/sm_dancebot_mine_ue/include/sm_dancebot_mine_ue/sm_dancebot_mine_ue.hpp
  smacc2_sm_reference_library/sm_dancebot_mine_ue/include/sm_dancebot_mine_ue/states/st_navigate_mine_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_mine_ue/include/sm_dancebot_mine_ue/states/st_navigate_reverse_mine_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dancebot_mine_ue/include/sm_dancebot_mine_ue/states/st_turn_around.hpp
  smacc2_sm_reference_library/sm_dancebot_mine_ue/launch/sm_dancebot_mine_ue_launch.py
  smacc2_sm_reference_library/sm_dancebot_mine_ue/params/nav2z_client/backwards_waypoints_mine.yaml
  smacc2_sm_reference_library/sm_dancebot_mine_ue/params/sm_dancebot_mine_ue_config.yaml
Due: ament_cppcheck

Update README.md
  smacc2_sm_reference_library/sm_dancebot_artgallery_ue/docker/README.md
Due: none

Update README.md
  smacc2_sm_reference_library/sm_dancebot_mine_ue/docker/README.md
Due: none

Update README.md
  smacc2_sm_reference_library/sm_dancebot_office_ue/docker/README.md
Due: none

Update humble-binary-build.yml
  .github/workflows/humble-binary-build.yml
Due: none

progress on several smacc client behaviors related with ros, wait action, ros launch , sleep, wait topic, etc
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_launch.hpp
  smacc2/include/smacc2/client_behaviors/cb_sleep_for.hpp
  smacc2/include/smacc2/client_behaviors/cb_wait_topic.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch.cpp
  smacc2/src/smacc2/client_behaviors/cb_wait_action_server.cpp
  smacc2/src/smacc2/client_behaviors/cb_wait_node.cpp
  smacc2/src/smacc2/client_behaviors/cb_wait_topic_names.cpp
  smacc2_client_library/keyboard_client/servers/keyboard_server_node.py
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/nav2z_client.hpp
Due: clang-format, ament_cppcheck

minor
  smacc2/include/smacc2/client_behaviors/cb_call_service.hpp
  smacc2_client_library/keyboard_client/servers/keyboard_server_node.py
Due: clang-format, ament_cppcheck

missing
  smacc2/src/smacc2/client_behaviors/cb_wait_topic.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker.cpp
Due: clang-format, ament_cppcheck

Añadidos archivos nuevos y cambios pequeños de archivos preexistentes de smacc2 (loggers y poco más)
  smacc2/include/smacc2/client_bases/smacc_ros_launch_client_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_call_service.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_launch_2.hpp
  smacc2/include/smacc2/smacc_asynchronous_client_behavior.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_wait_topic.cpp
  smacc2/src/smacc2/smacc_client_async_behavior.cpp
  smacc2_client_library/keyboard_client/servers/keyboard_server_node.py
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/src/forward_global_planner/forward_global_planner.cpp
  smacc2_client_library/nav2z_client/nav2z_client/package.xml
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_sm_reference_library/sm_dancebot_mine_ue/params/nav2z_client/backwards_waypoints_mine.yaml
Due: clang-format, ament_cppcheck

Cierre de procesos lanzados por CbRoslaunch2 de forma recursiva funcionando
  smacc2/include/smacc2/client_bases/smacc_ros_launch_client_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_wait_topic.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/smacc_client_async_behavior.cpp
Due: clang-format, ament_cppcheck

Borrado de funcion residual no utilizada en client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
Due: clang-format, ament_cppcheck

Limpiado del fichero client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
Due: clang-format, ament_cppcheck

format
  smacc2/include/smacc2/client_bases/smacc_ros_launch_client_2.hpp
  smacc2/include/smacc2/smacc_asynchronous_client_behavior.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_wait_topic.cpp
  smacc2/src/smacc2/smacc_client_async_behavior.cpp
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/src/forward_global_planner/forward_global_planner.cpp
Due: clang-format, ament_cppcheck

Fixed and improvements cblaunch2 and cbstop2
  smacc2/include/smacc2/client_bases/smacc_ros_launch_client_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_stop_2.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_stop_2.cpp
Due: clang-format, ament_cppcheck

Feature/humble isaac improvements (#532)
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/client_bases/smacc_ros_launch_client_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_call_service.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_launch_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_stop_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_wait_topic.hpp
  smacc2/include/smacc2/smacc_asynchronous_client_behavior.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client.cpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_ros_stop_2.cpp
  smacc2/src/smacc2/client_behaviors/cb_wait_action_server.cpp
  smacc2/src/smacc2/client_behaviors/cb_wait_topic.cpp
  smacc2/src/smacc2/smacc_client_async_behavior.cpp
  smacc2_client_library/keyboard_client/servers/keyboard_server_node.py
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
  smacc2_client_library/nav2z_client/custom_planners/forward_global_planner/src/forward_global_planner/forward_global_planner.cpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/nav2z_client.hpp
  smacc2_client_library/nav2z_client/nav2z_client/package.xml
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_sm_reference_library/sm_dancebot_mine_ue/params/nav2z_client/backwards_waypoints_mine.yaml
Due: clang-format, ament_cppcheck

safe blocker bug on action cancellation
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
Due: clang-format, ament_cppcheck

format fix
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
Due: clang-format, ament_cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
