Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Remove duplicate line for Boost ASIO source code link
  CLAUDE.md
Due: none

Change greeting from 'Hello' to 'Goodbye'
  smacc2_client_library/claude.md
Due: none

claude edits
  smacc2_client_library/claude.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/CMakeLists.txt
Due: ament_lint_cmake

more claude.md edits
  CLAUDE.md
  smacc2_client_library/claude.md
Due: none

<sup> links
  CLAUDE.md
  smacc2_client_library/claude.md
Due: none

More CLAUDE.md additions
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
  smacc2_sm_reference_library/CLAUDE.md
  smacc2_sm_reference_library/claude.md
Due: none

Final keyboard client refactor changes with formatting
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
Due: clang-format, ament_cppcheck

refactoring renaming onOrthogonal Allocation, fully funcional, but waiting to test examples
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/impl/smacc_client_behavior_impl.hpp
  smacc2/include/smacc2/impl/smacc_client_impl.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2/include/smacc2/smacc_client_behavior_base.hpp
  smacc2_client_library/http_client/include/http_client/client_behaviors/cb_http_request.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/cl_multirole_sensor.hpp
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/client_behaviors/cb_default_multirole_sensor_behavior.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_abort_navigation.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_wait_pose.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_wait_transform.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator_base.hpp
Due: clang-format, ament_cppcheck

format fix
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2/include/smacc2/smacc_client_behavior_base.hpp
  smacc2_client_library/http_client/include/http_client/client_behaviors/cb_http_request.hpp
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/cl_multirole_sensor.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator_base.hpp
Due: clang-format, ament_cppcheck

Clearing old Claude.mds
  CLAUDE.md
  smacc2_client_library/claude.md
  smacc2_sm_reference_library/claude.md
Due: none

Adding CLAUDE.md files back
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
  smacc2_sm_reference_library/CLAUDE.md
Due: none

Adding the CLAUDE files back
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
  smacc2_sm_reference_library/CLAUDE.md
Due: none

precommit stuff
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
Due: none

precommit attempt 2
  CLAUDE.md
  smacc2_client_library/CLAUDE.md
  smacc2_sm_reference_library/CLAUDE.md
Due: none

renaming OnStateAllocation to OnStateOrthogonalAllocation
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/impl/smacc_client_behavior_impl.hpp
  smacc2/include/smacc2/impl/smacc_client_impl.hpp
  smacc2/include/smacc2/impl/smacc_event_generator_impl.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2/include/smacc2/smacc_client_behavior_base.hpp
  smacc2/include/smacc2/smacc_event_generator.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2_client_library/http_client/include/http_client/client_behaviors/cb_http_request.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/cl_multirole_sensor.hpp
  smacc2_client_library/multirole_sensor_client/include/multirole_sensor_client/client_behaviors/cb_default_multirole_sensor_behavior.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_abort_navigation.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_wait_pose.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_wait_transform.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/components/waypoints_navigator/cp_waypoints_navigator_base.hpp
  smacc2_event_generator_library/eg_conditional_generator/include/eg_conditional_generator/eg_conditional_generator.hpp
  smacc2_event_generator_library/eg_random_generator/include/eg_random_generator/eg_random_generator.hpp
Due: clang-format, ament_cppcheck

some notes and challenges about header file compilation
  smacc2_client_library/CLAUDE.md
Due: none

base cpkeyboard implementation
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_subscriber_1.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
  smacc2_client_library/keyboard_client/src/keyboard_client/client_behaviors/cb_default_keyboard_behavior.cpp
Due: clang-format, ament_cppcheck

keyboard client component and runtime test
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/impl/smacc_client_impl.hpp
  smacc2/include/smacc2/impl/smacc_component_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
Due: clang-format, ament_cppcheck

fixing format
  smacc2/include/smacc2/impl/smacc_component_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
Due: clang-format, ament_cppcheck

refactor base components
  smacc2/include/smacc2/client_base_components/cp_action_client.hpp
  smacc2/include/smacc2/client_core_components/cp_topic_publisher.hpp
  smacc2/include/smacc2/client_core_components/cp_topic_subscriber.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
  smacc2_dev_tools/sandbox/cp_ros_control_interface.cpp.disabled
  smacc2_dev_tools/sandbox/cp_ros_control_interface.h.disabled
Due: clang-format, ament_cppcheck

format fix
  smacc2/include/smacc2/client_core_components/cp_topic_publisher.hpp
  smacc2/include/smacc2/client_core_components/cp_topic_subscriber.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
Due: clang-format, ament_cppcheck

nova carter behaviors and fixes
  CLAUDE.md
  smacc2/include/smacc2/impl/smacc_asynchronous_client_behavior_impl.hpp
  smacc2/include/smacc2/smacc_asynchronous_client_behavior.hpp
  smacc2_client_library/nav2z_client/nav2z_client/CMakeLists.txt
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_spiral_motion.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_track_path_odometry.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_track_path_slam.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_spiral_motion.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_track_path_odometry.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_track_path_slam.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

fixes conflict
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/impl/smacc_client_impl.hpp
  smacc2/include/smacc2/impl/smacc_component_impl.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
  smacc2_client_library/keyboard_client/src/keyboard_client/client_behaviors/cb_default_keyboard_behavior.cpp
Due: clang-format, ament_cppcheck

resyncing with other branches
  smacc2/include/smacc2/client_core_components/cp_topic_publisher.hpp
  smacc2/include/smacc2/client_core_components/cp_topic_subscriber.hpp
  smacc2/include/smacc2/component.hpp
  smacc2/include/smacc2/impl/smacc_client_impl.hpp
  smacc2/include/smacc2/impl/smacc_component_impl.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/smacc_client.hpp
  smacc2/include/smacc2/smacc_signal_detector.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
  smacc2_client_library/keyboard_client/src/keyboard_client/client_behaviors/cb_default_keyboard_behavior.cpp
Due: clang-format, ament_cppcheck

missing
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
Due: clang-format, ament_cppcheck

format
  smacc2/include/smacc2/impl/smacc_asynchronous_client_behavior_impl.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_spiral_motion.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_track_path_odometry.hpp
  smacc2_client_library/nav2z_client/nav2z_client/include/nav2z_client/client_behaviors/cb_track_path_slam.hpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_spiral_motion.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_track_path_odometry.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_track_path_slam.cpp
Due: clang-format, ament_cppcheck

fix bug
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
Due: clang-format, ament_cppcheck

fix bug
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
  smacc2_dev_tools/.vscode/launch.json
Due: clang-format, ament_cppcheck

missing format
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
Due: clang-format, ament_cppcheck

minor
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_track_path_odometry.cpp
Due: clang-format, ament_cppcheck

Refactor keyboard client to remove cb.cpp file
  smacc2_client_library/keyboard_client/include/keyboard_client/client_behaviors/cb_default_keyboard_behavior.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/client_behaviors/cb_default_keyboard_behavior.cpp
  smacc2_dev_tools/claude/Prompts.md
Due: clang-format, ament_cppcheck

Cleaning up the comments in Keyboard Client
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/include/keyboard_client/components/cp_keyboard_listener_1.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
Due: clang-format, ament_cppcheck

precommit fixes
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_client_library/keyboard_client/src/keyboard_client/cl_keyboard.cpp
Due: clang-format, ament_cppcheck

minor
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_dev_tools/claude/Prompts.md
Due: clang-format, ament_cppcheck

precommit format fixes
  smacc2_client_library/keyboard_client/include/keyboard_client/cl_keyboard.hpp
  smacc2_dev_tools/claude/Prompts.md
Due: clang-format, ament_cppcheck

new version of ros timer for refactoring
  smacc2_client_library/cl_ros2_timer/CHANGELOG.rst
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/cl_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/cl_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/client_behaviors/cb_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/package.xml
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/cb_timer.cpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/cb_timer_countdown_loop.cpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/cb_timer_countdown_once.cpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/timer_client.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Renaming and creation of timer unit test
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer.cpp
  smacc2_client_library/cl_ros2_timer/src/client_behaviors/cb_ros2_timer.cpp
  smacc2_client_library/cl_ros2_timer/src/client_behaviors/cb_timer_countdown_loop.cpp
  smacc2_client_library/cl_ros2_timer/src/client_behaviors/cb_timer_countdown_once.cpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/CHANGELOG.rst
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/README.md
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/config/sm_cl_ros2_timer_unit_test_1_config.yaml
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/config/sm_cl_ros2_timer_unit_test_1_test.yaml
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/docs/SmAtomic_2021-10-18_93942.svg
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/sm_cl_ros2_timer_unit_test_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/launch/sm_cl_ros2_timer_unit_test_1.launch
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/launch/sm_cl_ros2_timer_unit_test_1.py
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/package.xml
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/src/sm_cl_ros2_timer_unit_test_1/sm_cl_ros2_timer_unit_test_1_node.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Precommit fixes
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/launch/sm_cl_ros2_timer_unit_test_1.py
Due: none

new cl_ros2_timer unit test working
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/cl_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/cl_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/client_behaviors/cb_ros_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/include/cl_ros2_timer/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/cb_timer.cpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/cb_timer_countdown_loop.cpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/cb_timer_countdown_once.cpp
  smacc2_client_library/cl_ros2_timer/src/cl_ros2_timer/timer_client.cpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/CMakeLists.txt
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/sm_cl_ros2_timer_unit_test_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/include/sm_cl_ros2_timer_unit_test_1/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_cl_ros2_timer_unit_test_1/package.xml
Due: clang-format, ament_cppcheck, ament_lint_cmake

Refactoring cl_ros2_timer to header-lite
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
  smacc2_client_library/cl_ros2_timer/include/cl_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_ros2_timer.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_loop.hpp
  smacc2_client_library/cl_ros2_timer/include/client_behaviors/cb_timer_countdown_once.hpp
  smacc2_client_library/cl_ros2_timer/src/client_behaviors/cb_ros2_timer.cpp
  smacc2_client_library/cl_ros2_timer/src/client_behaviors/cb_timer_countdown_loop.cpp
  smacc2_client_library/cl_ros2_timer/src/client_behaviors/cb_timer_countdown_once.cpp
Due: clang-format, ament_cppcheck, ament_lint_cmake

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
