Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      #- id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--ignore=E501,W503"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-14
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']
        exclude: smacc2_sm_reference_library/

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

ci: enable ament_cppcheck and bump pyupgrade to py311+
  .github/workflows/ci-ros-lint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  TYPOS.md
Due: none

fix: correct comment typos in smacc2 core and cl_keyboard
  smacc2/include/smacc2/impl/smacc_client_behavior_impl.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
  smacc2_client_library/cl_keyboard/include/cl_keyboard/cl_keyboard.hpp
Due: clang-format, ament_cppcheck

fix: correct comment typos in cl_nav2z and performance tools
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_spiral_motion.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/components/waypoints_navigator/cp_waypoints_event_dispatcher.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_pure_spinning.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_save_slam_map.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_spiral_motion.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_global_planner/src/backward_global_planner/backward_global_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/include/backward_local_planner/backward_local_planner.hpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/src/forward_local_planner/forward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/nav2z_planners_common/src/nav2z_planners_common/common.cpp
  smacc2_client_library/cl_nav2z/custom_planners/pure_spinning_local_planner/src/pure_spinning_local_planner/pure_spinning_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/include/sm_coretest_transition_speed_1/states/st_state_1.hpp
  smacc2_performance_tools/performance_tests/sm_coretest_transition_speed_1/include/sm_coretest_transition_speed_1/states/st_state_2.hpp
Due: clang-format, ament_cppcheck

style: clang-format cb_spiral_motion.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_spiral_motion.cpp
Due: clang-format, ament_cppcheck

fix: translate Spanish comments and strings to English in smacc_ros_launch_client_2
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
Due: clang-format, ament_cppcheck

Comment translations
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
Due: clang-format, ament_cppcheck

ci: add CodeQL analysis and TSan+UBSan sanitizer workflows
  .github/workflows/ci-sanitizers.yml
  .github/workflows/codeql.yml
Due: none

ci: make CodeQL and sanitizer workflows manual-trigger only
  .github/workflows/ci-sanitizers.yml
  .github/workflows/codeql.yml
Due: none

ci: bump actions/checkout to v5 for Node.js 24 compatibility
  .github/workflows/ci-sanitizers.yml
  .github/workflows/codeql.yml
Due: none

ci: add rosdep init and update before install
  .github/workflows/ci-sanitizers.yml
  .github/workflows/codeql.yml
Due: none

ci: use rosdep init || true since setup-ros already initializes it
  .github/workflows/ci-sanitizers.yml
  .github/workflows/codeql.yml
Due: none

fix: resolve CodeQL warnings in signal_detector and nav2z planners
  smacc2/src/smacc2/signal_detector.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_spiral_motion.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/src/forward_local_planner/forward_local_planner.cpp
Due: clang-format, ament_cppcheck

Some CodeQL warning fixes
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/src/forward_local_planner/forward_local_planner.cpp
Due: clang-format, ament_cppcheck

ci: filter build/ and install/ paths from CodeQL SARIF results
  .github/workflows/codeql.yml
Due: none

Fix format string vulnerability in CpOdomTracker::logStateString
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
Due: clang-format, ament_cppcheck

Suppress cpp/empty-block and cpp/sizeof-side-effect in CodeQL SARIF filter
  .github/workflows/codeql.yml
Due: none

refactor(smacc2): remove commented-out dead code from core
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/include/smacc2/impl/smacc_orthogonal_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/include/smacc2/introspection/introspection.hpp
  smacc2/include/smacc2/introspection/smacc_state_info.hpp
  smacc2/include/smacc2/introspection/smacc_state_machine_info.hpp
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/src/smacc2/introspection/string_type_walker.cpp
  smacc2/src/smacc2/signal_detector.cpp
  smacc2/src/smacc2/smacc_client_async_behavior.cpp
  smacc2/src/smacc2/smacc_state_machine.cpp
Due: clang-format, ament_cppcheck

restore intentional placeholders in smacc_action_client_base.hpp
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
Due: clang-format, ament_cppcheck

style: apply linter formatting to smacc_state_base and smacc_state_machine
  smacc2/include/smacc2/smacc_state_base.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
Due: clang-format, ament_cppcheck

refactor(cl_nav2z): remove commented-out dead code
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_nav2z_client_behavior_base.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_global_position.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_rotate_look_at.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_save_slam_map.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_abort_navigation.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_backward.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_forward.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_named_waypoint.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_position_control_free_space.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_rotate.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_save_slam_map.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_stop_navigation.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_odometry.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_track_path_slam.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_wait_nav2_nodes.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/costmap_switch/cp_costmap_switch.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/goal_checker_switcher/cp_goal_checker_switcher.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_visualizer.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_global_planner/include/backward_global_planner/backward_global_planner.hpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/include/backward_local_planner/backward_local_planner.hpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_global_planner/include/forward_global_planner/forward_global_planner.hpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/src/forward_local_planner/forward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/nav2z_planners_common/src/nav2z_planners_common/common.cpp
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

style: apply clang-format to cl_nav2z.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/cl_nav2z.hpp
Due: clang-format, ament_cppcheck

refactor(cl_nav2z): remove additional commented-out dead code
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_global_planner/src/forward_global_planner/forward_global_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/src/forward_local_planner/forward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/nav2z_planners_common/src/nav2z_planners_common/common.cpp
  smacc2_client_library/cl_nav2z/custom_planners/pure_spinning_local_planner/include/pure_spinning_local_planner/pure_spinning_local_planner.hpp
Due: clang-format, ament_cppcheck

More comment cleanup
  smacc2/include/smacc2/client_bases/smacc_ros_launch_client_2.hpp
  smacc2/include/smacc2/introspection/smacc_state_machine_info.hpp
  smacc2/src/smacc2/client_bases/smacc_ros_launch_client_2.cpp
  smacc2/src/smacc2/introspection/string_type_walker.cpp
  smacc2/src/smacc2/smacc_client_async_behavior.cpp
Due: clang-format, ament_cppcheck

More comment cleanup2
  smacc2/include/smacc2/smacc_asynchronous_client_behavior.hpp
  smacc2/include/smacc2/smacc_default_events.hpp
  smacc2/include/smacc2/smacc_fifo_worker.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/odom_tracker/cp_odom_tracker.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/src/forward_local_planner/forward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

A few more
  smacc2/include/smacc2/client_behaviors/cb_ros_launch.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_launch_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_ros_stop_2.hpp
  smacc2/include/smacc2/client_behaviors/cb_sequence.hpp
  smacc2/include/smacc2/client_behaviors/cb_sleep_for.hpp
  smacc2/include/smacc2/client_behaviors/cb_wait_topic_message.hpp
  smacc2/include/smacc2/introspection/smacc_state_info.hpp
  smacc2/include/smacc2/smacc_state_machine.hpp
  smacc2/include/smacc2/smacc_state_machine_base.hpp
  smacc2/src/smacc2/smacc_state.cpp
Due: clang-format, ament_cppcheck

Adding CodeQL Filters for RCLCPP messages and Tracing Header Guards
  .github/workflows/codeql.yml
Due: none

Code QL RCLCPP Filter round 2
  .github/workflows/codeql.yml
Due: none

Another cleanup
  smacc2/include/smacc2/client_bases/smacc_action_client_base.hpp
  smacc2/src/smacc2/client_behaviors/cb_sequence.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/client_behaviors/cb_navigate_next_waypoint_until_reached.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/include/cl_nav2z/components/costmap_switch/cp_costmap_switch.hpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_absolute_rotate.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_navigate_global_position.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_spiral_motion.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/src/backward_local_planner/backward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/include/forward_local_planner/forward_local_planner.hpp
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/src/forward_local_planner/forward_local_planner.cpp
  smacc2_client_library/cl_nav2z/custom_planners/nav2z_planners_common/include/nav2z_planners_common/common.hpp
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/src/undo_path_global_planner/undo_path_global_planner.cpp
Due: clang-format, ament_cppcheck

Still cleaning comments
  smacc2/include/smacc2/client_bases/smacc_publisher_client.hpp
  smacc2/include/smacc2/client_bases/smacc_ros_launch_client_2.hpp
  smacc2/include/smacc2/client_core_components/cp_action_client.hpp
  smacc2/include/smacc2/impl/smacc_client_impl.hpp
  smacc2/include/smacc2/impl/smacc_state_impl.hpp
  smacc2/include/smacc2/introspection/smacc_state_machine_info.hpp
  smacc2/include/smacc2/smacc_default_events.hpp
  smacc2/src/smacc2/client_behaviors/cb_ros_launch_2.cpp
Due: clang-format, ament_cppcheck

Last comment cleanup
  smacc2/src/smacc2/client_behaviors/cb_ros_launch_2.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/client_behaviors/cb_undo_path_backwards.cpp
  smacc2_client_library/cl_nav2z/cl_nav2z/src/cl_nav2z/components/waypoints_navigator/cp_waypoints_navigator.cpp
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/include/backward_local_planner/backward_local_planner.hpp
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/include/undo_path_global_planner/undo_path_global_planner.hpp
Due: clang-format, ament_cppcheck

Fix package.xml to match their schema
  .pre-commit-config.yaml
  smacc2/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/backward_global_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/backward_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_global_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/forward_local_planner/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/nav2z_planners_common/package.xml
  smacc2_client_library/cl_nav2z/custom_planners/undo_path_global_planner/package.xml
Due: none

Drop dependencies not required for building, running or tracing this package
  smacc2/package.xml
Due: none

Fix smacc2 package.xml dependency declarations (#764)
  smacc2/package.xml
Due: none

Fix trace.sh: ros2 trace verb does not exist, use ros2 run
  smacc2/scripts/trace.sh
Due: none

Enable LTTng tracepoints in smacc2 build
  smacc2/CMakeLists.txt
Due: ament_lint_cmake

Add TRACING.md, remove TYPOS.md
  TRACING.md
  TYPOS.md
Due: none

CMakelists Update for LTTng optionality
  TRACING.md
  smacc2/CMakeLists.txt
Due: ament_lint_cmake

Fix boost statechart dependency
  smacc2/package.xml
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
Due: ament_lint_cmake

Propery export libraries
  smacc2/package.xml
  smacc2_client_library/cl_ros2_timer/CMakeLists.txt
  smacc2_client_library/cl_ros2_timer/package.xml
Due: ament_lint_cmake
