Repository robosoft-ai/SMACC2: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Update README.md
  README.md
Due: none

Update README.md (#482)
  README.md
Due: none

testing moveit2z with panda
  smacc2_dev_tools/docker/Dockerfile
  smacc2_dev_tools/docker/run_docker_bash_humble.sh
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/orthogonals/or_arm.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_end_effector.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/demo.launch.py
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/panda_hello_moveit.rviz
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/panda_moveit_config_demo.rviz
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/panda_moveit_config_demo_empty.rviz
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/package.xml
Due: ament_cppcheck

fixing precommit
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/demo.launch.py
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/package.xml
Due: ament_cppcheck

minor fix
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/package.xml
Due: none

demo launch
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/demo.launch.py
Due: none

last refinements
  smacc2_dev_tools/docker/Dockerfile
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/sm_panda_moveit2z_cb_inventory.launch.py
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/package.xml
Due: none

docker fix
  smacc2_dev_tools/docker/Dockerfile
Due: none

Feature/moveit2z probe attack (#483)
  smacc2_dev_tools/docker/Dockerfile
  smacc2_dev_tools/docker/run_docker_bash_humble.sh
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/orthogonals/or_arm.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_end_effector.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_move_joints.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/panda_hello_moveit.rviz
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/panda_moveit_config_demo.rviz
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/panda_moveit_config_demo_empty.rviz
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/launch/sm_panda_moveit2z_cb_inventory.launch.py
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/package.xml
Due: ament_cppcheck

progress sleep for refactoring
  smacc2/include/smacc2/client_behaviors/cb_sleep_for.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_acquire_sensors.hpp
Due: clang-format, ament_cppcheck

minor
  smacc2/include/smacc2/client_behaviors/cb_sleep_for.hpp
Due: clang-format, ament_cppcheck

progress sleep for refactoring (#484)
  smacc2/include/smacc2/client_behaviors/cb_sleep_for.hpp
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/include/sm_panda_moveit2z_cb_inventory/states/st_acquire_sensors.hpp
Due: clang-format, ament_cppcheck

Cleaning Docs Rd.1
  smacc2_sm_reference_library/_smacc2_sm_template/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2021-11-27_15045.svg
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2021-11-27_1513.pdf
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2023-5-24_125255.pdf
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2023-5-24_125325.svg
  smacc2_sm_reference_library/sm_atomic/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_hierarchy/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_services/README.md
  smacc2_sm_reference_library/sm_branching/README.md
  smacc2_sm_reference_library/sm_dance_bot/README.md
  smacc2_sm_reference_library/sm_dance_bot_strikes_back/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
  smacc2_sm_reference_library/sm_multi_stage_1/README.md
  smacc2_sm_reference_library/sm_pack_ml/README.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/README.md
  smacc2_sm_reference_library/sm_pubsub_1/README.md
  smacc2_sm_reference_library/sm_three_some/README.md
Due: none

fixing doxygen links
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
Due: none

Cleaning Docs Rd.1 (#485)
  smacc2_sm_reference_library/_smacc2_sm_template/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2021-11-27_15045.svg
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2021-11-27_1513.pdf
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2023-5-24_125255.pdf
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2023-5-24_125325.svg
  smacc2_sm_reference_library/sm_atomic/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_hierarchy/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_services/README.md
  smacc2_sm_reference_library/sm_branching/README.md
  smacc2_sm_reference_library/sm_dance_bot/README.md
  smacc2_sm_reference_library/sm_dance_bot_strikes_back/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
  smacc2_sm_reference_library/sm_multi_stage_1/README.md
  smacc2_sm_reference_library/sm_pack_ml/README.md
  smacc2_sm_reference_library/sm_panda_moveit2z_cb_inventory/README.md
  smacc2_sm_reference_library/sm_pubsub_1/README.md
  smacc2_sm_reference_library/sm_three_some/README.md
Due: none

fixing trailing whitespace in svg issue
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2021-11-27_15045.svg
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2023-5-24_125325.svg
Due: none

fixing trailing whitespace in svg issue (#486)
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2021-11-27_15045.svg
  smacc2_sm_reference_library/sm_advanced_recovery_1/docs/SmAdvancedRecovery1_2023-5-24_125325.svg
Due: none

Removing doxygen references for reference library in humble
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_atomic/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_hierarchy/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_services/README.md
  smacc2_sm_reference_library/sm_branching/README.md
  smacc2_sm_reference_library/sm_dance_bot/README.md
  smacc2_sm_reference_library/sm_dance_bot_strikes_back/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
  smacc2_sm_reference_library/sm_multi_stage_1/README.md
  smacc2_sm_reference_library/sm_pack_ml/README.md
  smacc2_sm_reference_library/sm_pubsub_1/README.md
  smacc2_sm_reference_library/sm_three_some/README.md
Due: none

Brettpac branch (#487)
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
  smacc2_sm_reference_library/sm_atomic/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_hierarchy/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
  smacc2_sm_reference_library/sm_atomic_services/README.md
  smacc2_sm_reference_library/sm_branching/README.md
  smacc2_sm_reference_library/sm_dance_bot/README.md
  smacc2_sm_reference_library/sm_dance_bot_strikes_back/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
  smacc2_sm_reference_library/sm_multi_stage_1/README.md
  smacc2_sm_reference_library/sm_pack_ml/README.md
  smacc2_sm_reference_library/sm_pubsub_1/README.md
  smacc2_sm_reference_library/sm_three_some/README.md
Due: none

Fixing Reference Library Readmes
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72056.svg
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72112.pdf
  smacc2_sm_reference_library/sm_atomic_hierarchy/CHANGELOG.rst
  smacc2_sm_reference_library/sm_atomic_hierarchy/CMakeLists.txt
  smacc2_sm_reference_library/sm_atomic_hierarchy/README.md
  smacc2_sm_reference_library/sm_atomic_hierarchy/config/sm_atomic_config.yaml
  smacc2_sm_reference_library/sm_atomic_hierarchy/config/sm_atomic_test.yaml
  smacc2_sm_reference_library/sm_atomic_hierarchy/docs/SmAtomic_2021-10-18_93942.svg
  smacc2_sm_reference_library/sm_atomic_hierarchy/include/sm_atomic_hierarchy/orthogonals/or_timer.hpp
  smacc2_sm_reference_library/sm_atomic_hierarchy/include/sm_atomic_hierarchy/sm_atomic_hierarchy.hpp
  smacc2_sm_reference_library/sm_atomic_hierarchy/include/sm_atomic_hierarchy/states/st_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_hierarchy/include/sm_atomic_hierarchy/states/st_state_2.hpp
  smacc2_sm_reference_library/sm_atomic_hierarchy/include/sm_atomic_hierarchy/states/sti_state_1.hpp
  smacc2_sm_reference_library/sm_atomic_hierarchy/launch/sm_atomic_hierarchy.launch
  smacc2_sm_reference_library/sm_atomic_hierarchy/launch/sm_atomic_hierarchy.py
  smacc2_sm_reference_library/sm_atomic_hierarchy/package.xml
  smacc2_sm_reference_library/sm_atomic_hierarchy/src/sm_atomic_hierarchy/sm_atomic_hierarchy_node.cpp
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomicLifecycle_2023-5-25_72845.svg
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomicLifecycle_2023-5-25_72855.pdf
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomic_2021-10-18_93942.svg
  smacc2_sm_reference_library/sm_atomic_mode_states/README.md
Due: ament_cppcheck, ament_lint_cmake

More manicuring
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72056.svg
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72112.pdf
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomicLifecycle_2023-5-25_72845.svg
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomicLifecycle_2023-5-25_72855.pdf
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomic_2021-10-18_93942.svg
Due: none

Deactivating trailing space precommit that keeps flagging svgs
  .pre-commit-config.yaml
Due: none

Brettpac branch (#490)
  .pre-commit-config.yaml
  smacc2_sm_reference_library/sm_atomic_24hr/README.md
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72056.svg
  smacc2_sm_reference_library/sm_atomic_24hr/docs/SmAtomic24Hr_2023-5-25_72112.pdf
  smacc2_sm_reference_library/sm_atomic_lifecycle/README.md
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomicLifecycle_2023-5-25_72845.svg
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomicLifecycle_2023-5-25_72855.pdf
  smacc2_sm_reference_library/sm_atomic_lifecycle/docs/SmAtomic_2021-10-18_93942.svg
Due: none

Forgot period
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
Due: none

Brettpac branch (#492)
  smacc2_sm_reference_library/sm_advanced_recovery_1/README.md
Due: none

Added Humble instructions to readme
  README.md
Due: none

Missed a link
  README.md
Due: none

Brettpac branch (#493)
  README.md
Due: none

several requests to restore navigation in humble
  smacc2/include/smacc2/impl/smacc_state_machine_impl.hpp
  smacc2/src/smacc2/smacc_state_machine.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/client_behaviors/cb_wait_nav2_nodes.cpp
  smacc2_client_library/nav2z_client/nav2z_client/src/nav2z_client/components/waypoints_navigator/waypoints_navigator.cpp
  smacc2_sm_reference_library/sm_dance_bot/README.md
  smacc2_sm_reference_library/sm_dance_bot/docs/SmDanceBot_2021-10-18_94410.svg
  smacc2_sm_reference_library/sm_dance_bot/docs/SmDanceBot_2023-5-26_151817.svg
  smacc2_sm_reference_library/sm_dance_bot/docs/SmDanceBot_2023-5-26_15183.pdf
  smacc2_sm_reference_library/sm_dance_bot/include/sm_dance_bot/states/st_navigate_to_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dance_bot/launch/navigation_launch.py
  smacc2_sm_reference_library/sm_dance_bot/launch/sm_dance_bot_launch.py
  smacc2_sm_reference_library/sm_dance_bot/models/blue_cylinder/model.config
  smacc2_sm_reference_library/sm_dance_bot/models/dynamic_obstacle/model.config
  smacc2_sm_reference_library/sm_dance_bot/models/empty_room/model.config
  smacc2_sm_reference_library/sm_dance_bot/models/turtlebot3_burger/model.config
  smacc2_sm_reference_library/sm_dance_bot/models/turtlebot3_waffle/model.config
  smacc2_sm_reference_library/sm_dance_bot/models/turtlebot3_waffle_depth_camera/model.config
  smacc2_sm_reference_library/sm_dance_bot/models/turtlebot3_world/model.config
  smacc2_sm_reference_library/sm_dance_bot/package.xml
  smacc2_sm_reference_library/sm_dance_bot/servers/led_action_server/src/led_action_server_node.cpp
  smacc2_sm_reference_library/sm_dance_bot/servers/temperature_sensor_node/src/temperature_sensor_node.cpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse/docs/SmDanceBotWarehouse_2023-5-26_152415.svg
  smacc2_sm_reference_library/sm_dance_bot_warehouse/docs/SmDanceBotWarehouse_2023-5-26_15243.pdf
  smacc2_sm_reference_library/sm_dance_bot_warehouse/docs/SmDanceBot_2021-10-18_94410.svg
  smacc2_sm_reference_library/sm_dance_bot_warehouse/launch/navigation_launch.py
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/docs/SmDanceBotWareHouse2_2023-5-26_152719.svg
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/docs/SmDanceBotWareHouse2_2023-5-26_15277.pdf
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/docs/SmDanceBot_2021-10-18_94410.svg
  smacc2_sm_reference_library/sm_dance_bot_warehouse_2/launch/navigation_launch.py
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/README.md
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/docs/SmDanceBotWareHouse3_2023-5-26_152949.pdf
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/docs/SmDanceBotWareHouse3_2023-5-26_15301.svg
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/docs/SmDanceBot_2021-10-18_94410.svg
  smacc2_sm_reference_library/sm_dance_bot_warehouse_3/launch/navigation_launch.py
Due: clang-format, ament_cppcheck

Forgot one
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/launch/sm_dance_bot_warehouse_4_launch.py
Due: none

Trimming down warehouse 4
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/sm_dance_bot_warehouse_4.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_forward_aisle.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_navigate_to_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_navigate_to_waypoints_x_2.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_rotate_degrees_3.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_rotate_degrees_4.hpp
Due: ament_cppcheck

Trimming down warehouse 4 (#495)
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/sm_dance_bot_warehouse_4.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_forward_aisle.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_navigate_to_waypoints_x.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_navigate_to_waypoints_x_2.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_rotate_degrees_3.hpp
  smacc2_sm_reference_library/sm_dance_bot_warehouse_4/include/sm_dance_bot_warehouse_4/states/st_rotate_degrees_4.hpp
Due: ament_cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$, but not: smacc2_sm_reference_library/
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
